# Анализ таблиц JDWH - Прод vs Тест

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
pd.set_option('display.max_columns', 50)
pd.set_option('max_colwidth', 200)
#pd.set_option('display.max_rows', 500)

## Часть III. Индексы.

## 1. Загрузка и первичное преобразование данных

### Прод

In [3]:
prod = pd.read_csv('./data/indexes_prod_14122020.csv')

In [4]:
prod.head(3)

,schemaname,base_name,tablename,indexname,inds_count,ind,indexdef
0,dwh_bckp,amara_corr_overdues,amara_corr_overdues,pk_bckp_amara_corr_overdues,1,1,"CREATE UNIQUE INDEX pk_bckp_amara_corr_overdues ON dwh_bckp.amara_corr_overdues USING btree (id, insert_date)"
1,dwh_bckp,amara_rating_fitch,amara_rating_fitch,pk_bckp_amara_rating_fitch,1,1,"CREATE UNIQUE INDEX pk_bckp_amara_rating_fitch ON dwh_bckp.amara_rating_fitch USING btree (id, insert_date)"
2,dwh_bckp,amara_rating_fitch_forecast,amara_rating_fitch_forecast,pk_bckp_amara_rating_fitch_forecast,1,1,"CREATE UNIQUE INDEX pk_bckp_amara_rating_fitch_forecast ON dwh_bckp.amara_rating_fitch_forecast USING btree (id, insert_date)"

Добавим поле full_table_name

In [5]:
prod['full_table_name'] = prod['schemaname'] + '.' + prod['tablename']

Добавляем столбцы: признак уникальности (возможно это PK),тип индекска и его короткое определение

In [6]:
prod['uniq'] = prod.indexdef.apply(lambda x: 1 if 'CREATE UNIQUE INDEX' in x else 0)
prod['short_idx_def'] = prod.indexdef.apply(lambda x: x.split('USING')[1].strip())
prod['idx_type'] = prod.short_idx_def.apply(lambda x: x.split('(')[0].strip())
prod['ind_fields'] = prod.short_idx_def.apply(lambda x: x.split('(')[1].split(')')[0].strip())

In [7]:
prod.head(3)

,schemaname,base_name,tablename,indexname,inds_count,ind,indexdef,full_table_name,uniq,short_idx_def,idx_type,ind_fields
0,dwh_bckp,amara_corr_overdues,amara_corr_overdues,pk_bckp_amara_corr_overdues,1,1,"CREATE UNIQUE INDEX pk_bckp_amara_corr_overdues ON dwh_bckp.amara_corr_overdues USING btree (id, insert_date)",dwh_bckp.amara_corr_overdues,1,"btree (id, insert_date)",btree,"id, insert_date"
1,dwh_bckp,amara_rating_fitch,amara_rating_fitch,pk_bckp_amara_rating_fitch,1,1,"CREATE UNIQUE INDEX pk_bckp_amara_rating_fitch ON dwh_bckp.amara_rating_fitch USING btree (id, insert_date)",dwh_bckp.amara_rating_fitch,1,"btree (id, insert_date)",btree,"id, insert_date"
2,dwh_bckp,amara_rating_fitch_forecast,amara_rating_fitch_forecast,pk_bckp_amara_rating_fitch_forecast,1,1,"CREATE UNIQUE INDEX pk_bckp_amara_rating_fitch_forecast ON dwh_bckp.amara_rating_fitch_forecast USING btree (id, insert_date)",dwh_bckp.amara_rating_fitch_forecast,1,"btree (id, insert_date)",btree,"id, insert_date"

Убираем партиции

In [8]:
prod = prod[prod['schemaname'] + '.' + prod['tablename'] == prod['schemaname'] + '.' + prod['base_name']]
prod.sample(3)

,schemaname,base_name,tablename,indexname,inds_count,ind,indexdef,full_table_name,uniq,short_idx_def,idx_type,ind_fields
3838,dwh_dds,ref_deal_pledge,ref_deal_pledge,ref_deal_pledge_tmp_v2_dlpled_crncy_cd_idx,4,2,CREATE INDEX ref_deal_pledge_tmp_v2_dlpled_crncy_cd_idx ON dwh_dds.ref_deal_pledge USING btree (dlpled_prd_gid),dwh_dds.ref_deal_pledge,0,btree (dlpled_prd_gid),btree,dlpled_prd_gid
5355,dwh_stage,s01_m_ordpaydtl,s01_m_ordpaydtl,pk_s01_m_ordpaydtl,1,1,CREATE UNIQUE INDEX pk_s01_m_ordpaydtl ON dwh_stage.s01_m_ordpaydtl USING btree (nord),dwh_stage.s01_m_ordpaydtl,1,btree (nord),btree,nord
7940,dwh_stage,s02_cs_status_type,s02_cs_status_type,pk_s02_cs_status_type,1,1,CREATE UNIQUE INDEX pk_s02_cs_status_type ON dwh_stage.s02_cs_status_type USING btree (id),dwh_stage.s02_cs_status_type,1,btree (id),btree,id

==============================================================================================================

### Тест

In [9]:
test = pd.read_csv('./data/indexes_test_14122020.csv')

In [10]:
test.head(3)

,schemaname,base_name,tablename,indexname,inds_count,ind,indexdef
0,dwh_bckp,amara_rating_fitch,amara_rating_fitch,pk_bckp_amara_rating_fitch,1,1,"CREATE UNIQUE INDEX pk_bckp_amara_rating_fitch ON dwh_bckp.amara_rating_fitch USING btree (id, insert_date)"
1,dwh_bckp,amara_rating_fitch_forecast,amara_rating_fitch_forecast,pk_bckp_amara_rating_fitch_forecast,1,1,"CREATE UNIQUE INDEX pk_bckp_amara_rating_fitch_forecast ON dwh_bckp.amara_rating_fitch_forecast USING btree (id, insert_date)"
2,dwh_bckp,amara_rating_fitch_short,amara_rating_fitch_short,pk_bckp_amara_rating_fitch_short,1,1,"CREATE UNIQUE INDEX pk_bckp_amara_rating_fitch_short ON dwh_bckp.amara_rating_fitch_short USING btree (id, insert_date)"

Добавим поле full_table_name

In [11]:
test['full_table_name'] = test['schemaname'] + '.' + test['tablename']

Добавляем столбцы: признак уникальности (возможно это PK),тип индекска и его короткое определение

In [12]:
test['uniq'] = test.indexdef.apply(lambda x: 1 if 'CREATE UNIQUE INDEX' in x else 0)
test['short_idx_def'] = test.indexdef.apply(lambda x: x.split('USING')[1].strip())
test['idx_type'] = test.short_idx_def.apply(lambda x: x.split('(')[0].strip())
test['ind_fields'] = test.short_idx_def.apply(lambda x: x.split('(')[1].split(')')[0].strip())

In [13]:
test.sample(3)

,schemaname,base_name,tablename,indexname,inds_count,ind,indexdef,full_table_name,uniq,short_idx_def,idx_type,ind_fields
11360,dwh_stage,s01_t_trndtl_old,s01_t_trndtl_old_1_prt_70_2019_07_27,s01_t_trndtl_old_1_prt_70_2019_07_27_id_idx,4,4,CREATE INDEX s01_t_trndtl_old_1_prt_70_2019_07_27_id_idx ON dwh_stage.s01_t_trndtl_old_1_prt_70_2019_07_27 USING btree (id),dwh_stage.s01_t_trndtl_old_1_prt_70_2019_07_27,0,btree (id),btree,id
9918,dwh_stage,s01_t_trndtl,s01_t_trndtl_1_prt_78_2020_08_19,s01_t_trndtl_1_prt_78_2020_08_19_det_id_idx,4,2,CREATE INDEX s01_t_trndtl_1_prt_78_2020_08_19_det_id_idx ON dwh_stage.s01_t_trndtl_1_prt_78_2020_08_19 USING bitmap (det_id),dwh_stage.s01_t_trndtl_1_prt_78_2020_08_19,0,bitmap (det_id),bitmap,det_id
3052,dwh_dds,acc_transaction,acc_transaction_1_prt_210_2020_09_19,acc_transaction_1_prt_210_2020_09_19_trn_dt_acnt_gid_idx,4,2,CREATE INDEX acc_transaction_1_prt_210_2020_09_19_trn_dt_acnt_gid_idx ON dwh_dds.acc_transaction_1_prt_210_2020_09_19 USING btree (trn_dt_acnt_gid),dwh_dds.acc_transaction_1_prt_210_2020_09_19,0,btree (trn_dt_acnt_gid),btree,trn_dt_acnt_gid

Убираем партиции

In [14]:
test = test[test['schemaname'] + '.' + test['tablename'] == test['schemaname'] + '.' + test['base_name']]
test.sample(3)

,schemaname,base_name,tablename,indexname,inds_count,ind,indexdef,full_table_name,uniq,short_idx_def,idx_type,ind_fields
4083,dwh_dds,ref_anl_account,ref_anl_account,ref_anl_account_acnta_plancd_bmx,3,2,CREATE INDEX ref_anl_account_acnta_plancd_bmx ON dwh_dds.ref_anl_account USING bitmap (acnta_acntapln_cd),dwh_dds.ref_anl_account,0,bitmap (acnta_acntapln_cd),bitmap,acnta_acntapln_cd
11535,dwh_stage,s03_bsik,s03_bsik,s03_bsik_lifnr_idx,2,2,CREATE INDEX s03_bsik_lifnr_idx ON dwh_stage.s03_bsik USING btree (lifnr),dwh_stage.s03_bsik,0,btree (lifnr),btree,lifnr
6704,dwh_stage,s01_p_sys_std,s01_p_sys_std,pk_s01_p_sys_std,1,1,CREATE UNIQUE INDEX pk_s01_p_sys_std ON dwh_stage.s01_p_sys_std USING btree (id),dwh_stage.s01_p_sys_std,1,btree (id),btree,id

In [15]:
prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 581 entries, 0 to 7959
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   schemaname       581 non-null    object
 1   base_name        581 non-null    object
 2   tablename        581 non-null    object
 3   indexname        581 non-null    object
 4   inds_count       581 non-null    int64
 5   ind              581 non-null    int64
 6   indexdef         581 non-null    object
 7   full_table_name  581 non-null    object
 8   uniq             581 non-null    int64
 9   short_idx_def    581 non-null    object
 10  idx_type         581 non-null    object
 11  ind_fields       581 non-null    object
dtypes: int64(3), object(9)
memory usage: 59.0+ KB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 594 entries, 0 to 11540
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   schemaname       594 non-null    object
 1   base_name        594 non-null    object
 2   tablename        594 non-null    object
 3   indexname        594 non-null    object
 4   inds_count       594 non-null    int64
 5   ind              594 non-null    int64
 6   indexdef         594 non-null    object
 7   full_table_name  594 non-null    object
 8   uniq             594 non-null    int64
 9   short_idx_def    594 non-null    object
 10  idx_type         594 non-null    object
 11  ind_fields       594 non-null    object
dtypes: int64(3), object(9)
memory usage: 60.3+ KB

### Сверяем только те таблицы, что есть и на Прод и на Тест

Прод

Удалим лишние столбцы

In [17]:
#Удаляем лишние столбцы
prod.drop(['base_name', 'short_idx_def'], inplace=True, axis = 1)#, 'indexdef'
prod.sample(3)

,schemaname,tablename,indexname,inds_count,ind,indexdef,full_table_name,uniq,idx_type,ind_fields
3923,dwh_dds,ref_sc_lot,ref_sc_lot_sqlt_sqtkt_gid_idx,10,9,CREATE INDEX ref_sc_lot_sqlt_sqtkt_gid_idx ON dwh_dds.ref_sc_lot USING btree (sqlt_sqtkt_gid),dwh_dds.ref_sc_lot,0,btree,sqlt_sqtkt_gid
5202,dwh_draft,amara_rating_hist,pk_amara_rating_hist,1,1,CREATE UNIQUE INDEX pk_amara_rating_hist ON dwh_draft.amara_rating_hist USING btree (id),dwh_draft.amara_rating_hist,1,btree,id
7939,dwh_stage,s02_cs_decision,pk_s02_cs_decision,1,1,CREATE UNIQUE INDEX pk_s02_cs_decision ON dwh_stage.s02_cs_decision USING btree (id),dwh_stage.s02_cs_decision,1,btree,id

Test

Удалим лишние столбцы

In [18]:
#Удаляем лишние столбцы
test.drop(['base_name', 'short_idx_def'], inplace=True, axis = 1)#, 'indexdef'
test.sample(3)

,schemaname,tablename,indexname,inds_count,ind,indexdef,full_table_name,uniq,idx_type,ind_fields
4052,dwh_dds,dict_orgform,dict_orgform_pk,1,1,CREATE UNIQUE INDEX dict_orgform_pk ON dwh_dds.dict_orgform USING btree (orgform_cd),dwh_dds.dict_orgform,1,btree,orgform_cd
6618,dwh_stage,s01_g_cli,s01_g_cli_ord_id_corp_idx,3,1,CREATE INDEX s01_g_cli_ord_id_corp_idx ON dwh_stage.s01_g_cli USING btree (ord_id) WHERE (typefl <> '1'::bpchar),dwh_stage.s01_g_cli,0,btree,ord_id
8330,dwh_stage,s01_t_pcn,s01_t_pcn_id_idx,2,1,"CREATE INDEX s01_t_pcn_id_idx ON dwh_stage.s01_t_pcn USING btree (id, specfl)",dwh_stage.s01_t_pcn,0,btree,"id, specfl"

### Выравниваем Прод и Тест

In [19]:
prod2 = prod[['full_table_name']]
prod2.head(2)

                full_table_name
0  dwh_bckp.amara_corr_overdues
1   dwh_bckp.amara_rating_fitch

In [20]:
test2 = test[['full_table_name']]
test2.head(2)

                        full_table_name
0           dwh_bckp.amara_rating_fitch
1  dwh_bckp.amara_rating_fitch_forecast

Готовим список нужных имен таблиц (которые есть и на Прод и на Тест)

In [21]:
prod2_test2_merge = prod2.merge(test2, on='full_table_name', how='inner')
prod2_test2_merge.head(2)

                        full_table_name
0           dwh_bckp.amara_rating_fitch
1  dwh_bckp.amara_rating_fitch_forecast

In [22]:
#Эти таблицы есть и на Прод и на Тест. Остальные будем удалять.
not_to_delete = list(prod2_test2_merge.full_table_name.value_counts().index)

In [23]:
not_to_delete[:10] #Первые 10 элементов

['dwh_dds.ref_sc_issue',
 'dwh_dds.ref_deal_forex',
 'dwh_dds.ref_sc_lot',
 'dwh_dds.ref_sc_ticket',
 'dwh_dds.ref_account',
 'dwh_dds.ref_deal_scissue',
 'dwh_dds.ref_gen_agreement',
 'dwh_dds.acc_sc_quote',
 'dwh_dds.ref_sc_rating',
 'dwh_dds.ref_pledge_object']

Теперь удаляем строки в Прод и Тест, не входящие в список по полю full_table_name

Прод

In [24]:
indices = prod[~(prod['full_table_name'].isin(not_to_delete))].index
prod.drop(indices, inplace=True)

Тест

In [25]:
indices = test[~(test['full_table_name'].isin(not_to_delete))].index
test.drop(indices, inplace=True)

### Теперь наборы данных Прод и Тест содержат одинаковые таблицы и готовы к сравнению инднксов

In [26]:
len(prod)

573

In [27]:
len(test)

566

Сравнение таблиц по количеству индексов:

In [28]:
tabs_different_number_of_indices = set()

In [29]:
def check_indexes_quantity(row):
    '''Сравнивает количество индексов для таблиц на Прод и Тест и
       если оно различно, добавляет таблицу во множество tabs_different_number_of_indices '''
    if row['inds_count'] != test[test['full_table_name'] == row['full_table_name']].inds_count.max():
        tabs_different_number_of_indices.add(row['full_table_name'])

In [30]:
prod.apply(lambda r: check_indexes_quantity(r), axis=1)

1       None
2       None
3       None
4       None
5       None
        ...
7955    None
7956    None
7957    None
7958    None
7959    None
Length: 573, dtype: object

### Вот список таблиц, индексы которых будем сверять вручную:

In [31]:
list(tabs_different_number_of_indices)

['dwh_dds.ref_sc_rating',
 'dwh_dds.ref_sc_ticket',
 'dwh_stage.s01_ansignval',
 'dwh_dds.acc_doc_payment',
 'dwh_stage.s01_s_ordcash_add',
 'dwh_stage.s01_t_operjrn',
 'dwh_dds.ref_interbank_deals',
 'dwh_stage.s01_g_accblnhst',
 'dwh_dds.ref_anl_account',
 'dwh_dm.dm_transaction',
 'dwh_dds.ref_deal_scissue',
 'dwh_dds.ref_sc_issue',
 'dwh_stage.s01_t_deashdhst']

Теперь удалим строки с этими таблицами из Прод и Тест. Остальное можно попробовать сверить в автоматическом режиме

In [32]:
#Общий список таблиц для сверки вручную
tabs_to_manually_comparison = list(tabs_different_number_of_indices)

In [33]:
#Удаляем строки с этими таблицами:
indices = prod[prod['full_table_name'].isin(tabs_to_manually_comparison)].index
prod.drop(indices, inplace=True)

indices = test[test['full_table_name'].isin(tabs_to_manually_comparison)].index
test.drop(indices, inplace=True)

In [34]:
len(prod), len(test)

(502, 502)

**Видим, что на Прод и Тест осталось одинаковое количество строк!**

### Сверка всех индексов по определениям

In [35]:
tables_to_check = list(prod.full_table_name.value_counts().index)
tables_to_check

['dwh_dds.ref_deal_forex',
 'dwh_dds.ref_sc_lot',
 'dwh_dds.ref_account',
 'dwh_dds.acc_sc_quote',
 'dwh_dds.ref_gen_agreement',
 'dwh_dds.ref_pledge_object',
 'dwh_dds.ref_sc_identcode',
 'dwh_dds.ref_bank_corr_relation',
 'dwh_dds.ref_deal_current_account',
 'dwh_stage.s01_t_procmem',
 'dwh_stage.s01_ledacc_det',
 'dwh_dds.acc_transaction',
 'dwh_dds.ref_deal_pledge',
 'dwh_stage.s01_g_accbln',
 'dwh_stage.s01_t_trndtl',
 'dwh_stage.s01_s_ordcash',
 'dwh_dds.ref_deal_guarantees',
 'dwh_dds.ref_deal_letter_credit',
 'dwh_bckp.s01_led_acc_det_bkp',
 'dwh_stage.s01_g_cli',
 'dwh_dds.ref_pledge_link',
 'dwh_dds.ref_payment_card',
 'dwh_dds.acc_anl_account_balance',
 'dwh_dds.ref_client_corp',
 'dwh_stage.s01_s_monord',
 'dwh_dds.ref_pledge_obj_link',
 'dwh_stage.s01_l_mrtordobj',
 'dwh_stage.s01_l_mrtorddea',
 'dwh_stage.s01_t_procinh',
 'dwh_stage.s01_g_identdocdsc_std',
 'dwh_stage.s01_t_dea',
 'dwh_stage.s01_g_clirefval',
 'dwh_dds.acc_sc_deal_lot_link',
 'dwh_stage.s03_bsak',
 'dwh_stage.s01_t_pcndtl',
 'dwh_stage.s01_t_deaprmdsc_std',
 'dwh_stage.s01_t_arlclc',
 'dwh_stage.s01_t_deashdpnt',
 'dwh_stage.s03_ekko',
 'dwh_stage.s01_g_clihst',
 'dwh_stage.s01_d_aprrecalc',
 'dwh_dds.ref_corp_head',
 'dwh_dm.dm_doc_payment',
 'dwh_dds.ref_deal_param',
 'dwh_dds.ref_product',
 'dwh_stage.s01_p_ord',
 'dwh_stage.s01_g_clirole',
 'dwh_stage.s01_t_arldea',
 'dwh_dds.ref_client_priv',
 'dwh_stage.s01_t_process',
 'dwh_stage.s01_t_pcn',
 'dwh_stage.s01_t_pcndsc_std',
 'dwh_dds.ref_credit_schedule',
 'dwh_stage.s01_s_ordpay',
 'dwh_stage.s01_sk_link_dea',
 'dwh_stage.s01_sk_issuecode',
 'dwh_stage.s01_t_acc',
 'dwh_stage.s01_d_dea',
 'dwh_dds.ref_account_overdue',
 'dwh_bckp.s01_t_dea_bkp',
 'dwh_dds.ref_safe',
 'dwh_stage.s01_f_ordpay',
 'dwh_dds.ref_deal_schedule',
 'dwh_dds.dict_account_plan',
 'dwh_stage.s03_bsik',
 'dwh_dm.dm_z10',
 'dwh_dds.dict_rating_value',
 'dwh_dds.ref_user',
 'dwh_stage.s01_sa_sec',
 'dwh_stage.s01_g_managerdsc',
 'dwh_stage.s01_g_clifatcahst',
 'dwh_stage.s01_c_vallist_lng',
 'dwh_stage.s01_m_ordpay_add',
 'dwh_stage.s02_account',
 'dwh_dds.ref_client_document',
 'dwh_stage.s01_g_clicont',
 'dwh_stage.s01_g_bnkhst_std',
 'dwh_stage.s01_l_mrtapprais',
 'dwh_stage.s01_c_domain_loc',
 'dwh_stage.s01_s_orddsc_std',
 'dwh_draft.amara_rating_moodys',
 'dwh_stage.s01_c_usr',
 'dwh_stage.s01_m_ordpay_mts',
 'dwh_stage.s01_c_daycntfnc_std',
 'dwh_bckp.amara_rating_sp_short',
 'dwh_stage.s01_p_sys_std',
 'dwh_stage.s02_opt_vw_all_doc_dafb_forload',
 'dwh_stage.s01_g_cliregdocdbl',
 'dwh_dm.dm_client_corp',
 'dwh_stage.s01_c_attr_std',
 'dwh_stage.s01_s_safeord',
 'dwh_dds.ref_quasi_state_companies',
 'dwh_stage.s01_t_ord',
 'dwh_stage.s01_s_reqint',
 'dwh_stage.s02_acnt_balance_history',
 'dwh_dds.ref_client_contact',
 'dwh_stage.s01_sk_issueshd',
 'dwh_stage.s01_time_table_sample_std',
 'dwh_stage.s01_i_agn',
 'dwh_stage.s01_u_rf_okved_std',
 'dwh_dds.dict_sctypemp',
 'dwh_stage.s01_apr_dea',
 'dwh_dds.dict_esector',
 'dwh_stage.s02_gl_trace',
 'dwh_stage.s01_l_mortgage',
 'dwh_dm.dm_stock_lot',
 'dwh_stage.s01_l_purdsc_std',
 'dwh_stage.s01_s_safevault',
 'dwh_draft.amara_rating_fitch_short',
 'dwh_polygon.geo',
 'dwh_stage.s01_c_vallist_std',
 'dwh_dds.ref_address',
 'dwh_dm.dm_z13',
 'dwh_stage.s01_t_deaaccdsc_std',
 'dwh_stage.s01_cr_conttype_std',
 'dwh_stage.s01_e_dlr',
 'dwh_stage.s01_sk_issuedscr_std',
 'dwh_stage.s01_g_cliauthprs',
 'dwh_stage.s01_e_forex_opt',
 'dwh_dm.dm_z14',
 'dwh_stage.s01_g_clifatca',
 'dwh_stage.s01_ledacc_std',
 'dwh_dds.dict_country',
 'dwh_stage.s01_sk_dea',
 'dwh_stage.s01_func_deposit_add',
 'dwh_stage.s02_currency',
 'dwh_stage.s01_p_csrjrn',
 'dwh_stage.s01_g_bnkhst_std_id',
 'dwh_bckp.amara_rating_hist',
 'dwh_dds.dict_safe_type',
 'dwh_stage.s02_calendar',
 'dwh_dds.dict_calendar',
 'dwh_stage.s02_opt_vw_all_doc_dafb',
 'dwh_stage.s01_p_ordext',
 'dwh_stage.s01_t_ptfctgord',
 'dwh_stage.s01_g_cliaddress',
 'dwh_stage.s01_t_oprchr_std',
 'dwh_stage.s01_c_dep_std',
 'dwh_dds.dict_okato',
 'dwh_stage.s01_l_depo',
 'dwh_stage.s01_t_pcnhst',
 'dwh_stage.s01_c_tblcol_std',
 'dwh_stage.s02_acnt_balance',
 'dwh_stage.s02_templ_approved',
 'dwh_stage.s01_c_tblval',
 'dwh_bckp.amara_rating_sp',
 'dwh_dm.dm_z12',
 'dwh_stage.s01_t_ordcms',
 'dwh_stage.s01_p_orderr',
 'dwh_stage.s01_c_rol_std',
 'dwh_draft.amara_rating_scale',
 'dwh_stage.s01_t_anchart_std',
 'dwh_stage.s01_e_sampleshd_std',
 'dwh_stage.s02_acnt_contract',
 'dwh_stage.s01_i_agnrtg',
 'dwh_stage.s01_g_ordaddress',
 'dwh_stage.s01_j_let',
 'dwh_dm.dm_z11',
 'dwh_stage.s01_s_safe',
 'dwh_dds.dict_addr_type',
 'dwh_stage.s01_g_dbljrndtl',
 'dwh_stage.s01_s_safedsc_std',
 'dwh_stage.s01_l_ldea',
 'dwh_draft.amara_ref_quasi_state_companies',
 'dwh_dds.dict_cash_type',
 'dwh_dds.dict_sccode',
 'dwh_stage.s01_j_grnbnk',
 'dwh_dds.ref_deal_credit_rate',
 'dwh_bckp.amara_rating_fitch_forecast',
 'dwh_dds.ref_bank',
 'dwh_stage.s01_t_reg_std',
 'dwh_stage.s01_sa_secdtl',
 'dwh_stage.s01_g_regdocdsc',
 'dwh_stage.s01_e_reqexc',
 'dwh_stage.s01_g_ecndsc_std',
 'dwh_stage.s01_l_real_estate',
 'dwh_dds.dict_schedule_templates',
 'dwh_dds.ref_deal_deposit',
 'dwh_stage.s01_t_deaprm',
 'dwh_dds.dict_corp_segment',
 'dwh_stage.s01_t_deaacc',
 'dwh_dds.dict_position_type',
 'dwh_stage.s02_country',
 'dwh_stage.s01_g_clihstdbl',
 'dwh_stage.s01_sk_issuequotes',
 'dwh_draft.amara_ref_stock_holder',
 'dwh_dds.dict_orgform',
 'dwh_stage.s01_m_munord',
 'dwh_stage.s01_f_msg',
 'dwh_draft.amara_ref_stock_holder_restricted',
 'dwh_stage.s02_cs_decision',
 'dwh_stage.s01_l_vehicle',
 'dwh_stage.s02_cs_status_type',
 'dwh_stage.s01_e_cli',
 'dwh_stage.s01_u_uniref_std_v2',
 'dwh_stage.s01_i_rtg',
 'dwh_stage.s01_g_dbljrn',
 'dwh_stage.s01_g_cliadmlst',
 'dwh_dds.dict_cont_type',
 'dwh_bckp.amara_rating_moodys_forecast',
 'dwh_stage.s01_t_accgrp',
 'dwh_dds.dict_safe_vault',
 'dwh_stage.s02_gl_transfer',
 'dwh_dds.dict_service_pack',
 'dwh_stage.s01_t_ansign_std',
 'dwh_draft.amara_rating_hist',
 'dwh_stage.s01_t_deaext',
 'dwh_stage.s03_lfa1',
 'dwh_stage.s01_anlacc',
 'dwh_dds.dict_currency',
 'dwh_dds.dict_doc_type',
 'dwh_stage.s01_st_deal',
 'dwh_dds.ref_deal_deposit_rate',
 'dwh_stage.s01_c_imefrmtyp_lng',
 'dwh_stage.s01_c_domain_std',
 'dwh_stage.s01_g_bnk',
 'dwh_stage.s01_i_bnkrel',
 'dwh_stage.s01_g_cliaddatr',
 'dwh_stage.s02_opt_vw_balance_dafb',
 'dwh_dds.dict_anl_sign',
 'dwh_stage.s02_client_type',
 'dwh_stage.s01_m_cshdsc',
 'dwh_stage.s01_l_mrtextorddea',
 'dwh_stage.s01_t_ratdsc_std',
 'dwh_draft.amara_rating_moodys_forecast',
 'dwh_stage.s01_anlacc_det',
 'dwh_stage.s01_l_mrtmon',
 'dwh_dds.ref_deal_credit',
 'dwh_stage.s02_client_address',
 'dwh_dds.dict_sources',
 'dwh_dds.dict_pledge_type',
 'dwh_stage.s01_l_ensdsc_std',
 'dwh_stage.s01_sk_infagn_std',
 'dwh_dds.dict_rate_type',
 'dwh_stage.s01_e_forex',
 'dwh_dds.acc_currency_rate',
 'dwh_stage.s01_t_deaprd_std',
 'dwh_dds.dict_trn_operation',
 'dwh_stage.s01_t_num',
 'dwh_stage.s01_t_addagr',
 'dwh_stage.s01_t_val_std',
 'dwh_dds.ref_sc_holder_restrictions',
 'dwh_stage.s01_sk_storageswt_std',
 'dwh_stage.s01_c_sbjarea_std',
 'dwh_stage.test_upd',
 'dwh_draft.amara_report_screen_dict',
 'dwh_dds.ref_sc_holder',
 'dwh_stage.s01_e_bnkdea',
 'dwh_stage.s01_l_dea',
 'dwh_bckp.amara_rating_moodys',
 'dwh_stage.s01_st_dealrepo',
 'dwh_dds.dict_tarif_cat',
 'dwh_dm.dm_z10a',
 'dwh_stage.s02_report_type',
 'dwh_stage.s01_c_imefrmtyp_std',
 'dwh_stage.s01_g_address',
 'dwh_bckp.amara_rating_moodys_short',
 'dwh_stage.s01_m_ordpaydtl',
 'dwh_stage.s01_t_deaprmrul',
 'dwh_stage.s01_sk_storage_std',
 'dwh_draft.amara_rating_moodys_short',
 'dwh_stage.s02_appl_product',
 'dwh_stage.s01_l_mrtordins',
 'dwh_stage.s01_c_attr_lng',
 'dwh_bckp.amara_rating_fitch',
 'dwh_stage.s01_t_bal',
 'dwh_dds.ref_auth_person',
 'dwh_stage.s01_t_scen_std',
 'dwh_draft.amara_rating_sp_short',
 'dwh_draft.amara_rating_sp_forecast',
 'dwh_dds.acc_account_balance',
 'dwh_stage.s01_t_ptf_std',
 'dwh_bckp.amara_rating_scale',
 'dwh_stage.s01_l_mrtord',
 'dwh_stage.s01_s_cbncli',
 'dwh_stage.s01_l_mrtordreg',
 'dwh_stage.s01_g_con_std',
 'dwh_stage.s01_g_cliadm',
 'dwh_stage.s01_m_ordpay',
 'dwh_stage.s02_acc_templ',
 'dwh_stage.s01_e_bnkdeal',
 'dwh_stage.s01_s_trfgrp',
 'dwh_stage.s01_g_clidoc',
 'dwh_stage.s01_st_dealdtl',
 'dwh_stage.s01_t_bop_dscr_std',
 'dwh_stage.s01_t_deaaccrul',
 'dwh_draft.amara_rating_fitch_forecast',
 'dwh_stage.s02_m_transaction',
 'dwh_stage.s01_c_clndclc',
 'dwh_stage.s01_g_conmem',
 'dwh_dds.dict_exchange_operation_type',
 'dwh_stage.s01_g_bnkdsc_std',
 'dwh_stage.s01_sk_issueshddtl',
 'dwh_stage.s01_e_purdsc_std',
 'dwh_stage.s01_g_cliaddresshst',
 'dwh_stage.s01_c_clnd_std',
 'dwh_stage.s01_p_stford',
 'dwh_stage.s02_f_i',
 'dwh_stage.s01_sk_issue',
 'dwh_dds.dict_anl_account_plan',
 'dwh_stage.s01_g_cliregdoc',
 'dwh_bckp.amara_rating_sp_forecast',
 'dwh_stage.s02_address_type',
 'dwh_dds.dict_fatca',
 'dwh_draft.amara_rating_fitch',
 'dwh_stage.s01_t_deapcnval',
 'dwh_dds.dict_scinfagn',
 'dwh_stage.s01_t_arldsc_std',
 'dwh_stage.s01_u_rf_okato_std',
 'dwh_stage.s01_t_bop_stat_std',
 'dwh_dds.dict_oked',
 'dwh_stage.s01_j_grn',
 'dwh_stage.s01_s_safeemp',
 'dwh_stage.s02_client',
 'dwh_stage.s01_t_valrat',
 'dwh_stage.s01_g_consrc',
 'dwh_bckp.amara_rating_fitch_short',
 'dwh_stage.s01_m_transfdea',
 'dwh_stage.s01_m_munord_cli',
 'dwh_stage.s01_f_cmssnd',
 'dwh_stage.s01_g_roldsc_std',
 'dwh_dds.ref_cash_department',
 'dwh_stage.s01_t_trndtl_tmp',
 'dwh_stage.s01_g_cliatrdsc_std',
 'dwh_dm.dm_pledges',
 'dwh_stage.s01_e_forex_det',
 'dwh_stage.s02_acc_scheme',
 'dwh_stage.s01_sk_issuertg',
 'dwh_stage.s01_m_cshordexc',
 'dwh_stage.s01_u_rf_okfs_std',
 'dwh_dm.dm_700h_rep',
 'dwh_dds.dict_industry',
 'dwh_dds.dict_corp_type',
 'dwh_dds.dict_scquotetype',
 'dwh_stage.s01_tt_point',
 'dwh_draft.amara_corr_overdues',
 'dwh_draft.amara_rating_sp',
 'dwh_stage.s01_sk_trdflr_std',
 'dwh_dds.dict_card_type',
 'dwh_stage.s01_l_mrtown',
 'dwh_stage.s01_sk_trdmod_std',
 'dwh_dds.ref_department',
 'dwh_dds.dict_ownform',
 'dwh_stage.s02_fx_rate',
 'dwh_stage.s01_l_aprrecalc',
 'dwh_stage.s01_t_deacls_std',
 'dwh_dds.dict_rating_agency',
 'dwh_stage.s01_u_uniref_std']

In [36]:
print('Всего уникальных таблиц:', len(tables_to_check))

Всего уникальных таблиц: 348

In [37]:
tabs_diffrent_indexes_defs = set()

In [38]:
for tab in tables_to_check:
    sub_set_prod = prod[prod.full_table_name==tab]
    #display(sub_set_prod)
    
    sub_set_test = test[test.full_table_name==tab]
    #display(sub_set_test)
    
    if set(sub_set_prod.indexdef.value_counts().index) != set(sub_set_test.indexdef.value_counts().index):
        tabs_diffrent_indexes_defs.add(tab)
        
list(tabs_diffrent_indexes_defs)

['dwh_stage.s01_t_trndtl_tmp',
 'dwh_dm.dm_z10',
 'dwh_stage.s01_p_csrjrn',
 'dwh_stage.s01_p_ord',
 'dwh_dds.ref_account',
 'dwh_draft.amara_corr_overdues']

## Итого, нужно проверить следующие списки таблиц:

1. Таблицы с различным количеством индексов:

In [39]:
list(tabs_different_number_of_indices)

['dwh_dds.ref_sc_rating',
 'dwh_dds.ref_sc_ticket',
 'dwh_stage.s01_ansignval',
 'dwh_dds.acc_doc_payment',
 'dwh_stage.s01_s_ordcash_add',
 'dwh_stage.s01_t_operjrn',
 'dwh_dds.ref_interbank_deals',
 'dwh_stage.s01_g_accblnhst',
 'dwh_dds.ref_anl_account',
 'dwh_dm.dm_transaction',
 'dwh_dds.ref_deal_scissue',
 'dwh_dds.ref_sc_issue',
 'dwh_stage.s01_t_deashdhst']

2. Таблицы с различным определением индексов

In [40]:
list(tabs_diffrent_indexes_defs)

['dwh_stage.s01_t_trndtl_tmp',
 'dwh_dm.dm_z10',
 'dwh_stage.s01_p_csrjrn',
 'dwh_stage.s01_p_ord',
 'dwh_dds.ref_account',
 'dwh_draft.amara_corr_overdues']

**3. Итого, все аномальные таблицы**

In [41]:
tabs_to_manually_comparison += list(tabs_diffrent_indexes_defs)
tabs_to_manually_comparison

['dwh_dds.ref_sc_rating',
 'dwh_dds.ref_sc_ticket',
 'dwh_stage.s01_ansignval',
 'dwh_dds.acc_doc_payment',
 'dwh_stage.s01_s_ordcash_add',
 'dwh_stage.s01_t_operjrn',
 'dwh_dds.ref_interbank_deals',
 'dwh_stage.s01_g_accblnhst',
 'dwh_dds.ref_anl_account',
 'dwh_dm.dm_transaction',
 'dwh_dds.ref_deal_scissue',
 'dwh_dds.ref_sc_issue',
 'dwh_stage.s01_t_deashdhst',
 'dwh_stage.s01_t_trndtl_tmp',
 'dwh_dm.dm_z10',
 'dwh_stage.s01_p_csrjrn',
 'dwh_stage.s01_p_ord',
 'dwh_dds.ref_account',
 'dwh_draft.amara_corr_overdues']

In [42]:
len(tabs_to_manually_comparison)

19