In [1]:
import numpy as np
import pandas as pd

In [2]:
x = np.array([1, 2, 3])
print(x.ndim)
x

1

array([1, 2, 3])

In [3]:
y = np.zeros((2, 3, 4))
print(y.ndim)
y

3

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [4]:
# В NumPy вектор и массив - одно и то же. 
# Исключение - понятие вектор-столбец и вектор-строка - фактически двумерные массивы, 
# где один из атрибутов shape равен 1.

print("ndim:", x.ndim) # число осей (измерений) массива - n.dim: 1
print("shape:", x.shape) # размеры массива, для вектора определена только длина - shape: (6, )

ndim: 1
shape: (3,)

In [8]:
x.shape = (1, 3)

In [9]:
x

array([[1, 2, 3]])

In [10]:
x.shape

(1, 3)

In [13]:
x = np.array(x)

In [16]:
apartment = np.array([59.50, 31.40, 19, 2, 60550, 2])

In [17]:
share_living_space = apartment[1]/apartment[0]

In [18]:
apartment = np.delete(apartment, [0, 1])

In [19]:
apartment

array([1.900e+01, 2.000e+00, 6.055e+04, 2.000e+00])

In [20]:
apartment = np.append(apartment, share_living_space)
apartment

array([1.90000000e+01, 2.00000000e+00, 6.05500000e+04, 2.00000000e+00,
       5.27731092e-01])

In [21]:
x = np.array([4, 5])
y = np.array([2, 1])
u = np.array([1, 0])
2*x + (-3)*y + 5*u

array([7, 7])

In [23]:
x = np.array([3,4,5,9])
y = np.array([1,5,3,6])
400*y - 200*x

array([-200, 1200,  200,  600])

In [24]:
a = np.array([4,5,-1])  
b = np.array([2,0,1])
np.dot(a,b)

7

In [25]:
Hut_Paradise_DF = pd.DataFrame({'1.Rent': [65, 70, 120, 35, 40, 50, 100, 90, 85], 
                                '2.Area': [50, 52, 80, 33, 33, 44, 80, 65, 65], 
                                '3.Rooms':[3, 2, 1, 1, 1, 2, 4, 3, 2],
                                '4.Floor':[5, 12, 10, 3, 6, 13, 8, 21, 5], 
                                '5.Demo two weeks':[8, 4, 5, 10, 20, 12, 5, 1, 10], 
                                '6.Liv.Area': [37, 40, 65, 20, 16, 35, 60, 50, 40]})

In [27]:
Hut_Paradise_DF

   1.Rent  2.Area  3.Rooms  4.Floor  5.Demo two weeks  6.Liv.Area
0      65      50        3        5                 8          37
1      70      52        2       12                 4          40
2     120      80        1       10                 5          65
3      35      33        1        3                10          20
4      40      33        1        6                20          16
5      50      44        2       13                12          35
6     100      80        4        8                 5          60
7      90      65        3       21                 1          50
8      85      65        2        5                10          40

In [31]:
Hut_Paradise_DF.values[4]

array([40, 33,  1,  6, 20, 16], dtype=int64)

In [32]:
Hut_Paradise_DF.values[:,3]

array([ 5, 12, 10,  3,  6, 13,  8, 21,  5], dtype=int64)

In [39]:
Hut_Paradise_DF['4.Floor'].values

array([ 5, 12, 10,  3,  6, 13,  8, 21,  5], dtype=int64)

In [35]:
Hut_Paradise_DF.iloc[4].values

array([40, 33,  1,  6, 20, 16], dtype=int64)

In [40]:
Hut_Paradise_DF['4.Floor'].values[2]

10

In [41]:
Hut_Paradise_DF.shape

(9, 6)

In [44]:
Hut_Paradise_DF['2.Area'].values - Hut_Paradise_DF['6.Liv.Area'].values

array([13, 12, 15, 13, 17,  9, 20, 15, 25], dtype=int64)

In [46]:
Hut_Paradise_DF['1.Rent'].values * (4/10)

array([26., 28., 48., 14., 16., 20., 40., 36., 34.])

In [48]:
t = np.array([10,20,30,15,5,40,20,8,20])

In [49]:
np.dot(t,Hut_Paradise_DF['5.Demo two weeks'].values)

1348

In [50]:
t@Hut_Paradise_DF['5.Demo two weeks'].values

1348

In [51]:
u=np.array([3,0,1,1,1])
v=np.array([0,1,0,2,-2])
w=np.array([1,-4,-1,0,-2])

In [52]:
u@v

0

In [53]:
v@w

0

In [54]:
u@w

0

In [55]:
2*v - 3*w

array([-3, 14,  3,  4,  2])

In [56]:
(2*v - 3*w)@u

0

In [58]:
u/np.linalg.norm(u)

array([0.8660254 , 0.        , 0.28867513, 0.28867513, 0.28867513])

In [59]:
v/np.linalg.norm(v)

array([ 0.        ,  0.33333333,  0.        ,  0.66666667, -0.66666667])

In [60]:
w/np.linalg.norm(w)

array([ 0.21320072, -0.85280287, -0.21320072,  0.        , -0.42640143])

In [2]:
A = np.matrix([[1,0], [0,1]])

In [3]:
A

matrix([[1, 0],
        [0, 1]])

In [4]:
Husband_Income = np.array([100,220,140])
Wife_Income = np.array([150,200,130])
Mother_In_Law_Income = np.array([90,80,100])

Husband_Сonsumption = np.array([50,50,60])
Wife_Сonsumption = np.array([100,80,140])
Mother_In_Law_Сonsumption = np.array([100,20,140])

In [9]:
Inc = np.matrix([Husband_Income, Wife_Income, Mother_In_Law_Income])
Inc = Inc.T
Inc

matrix([[100, 150,  90],
        [220, 200,  80],
        [140, 130, 100]])

In [10]:
Cons = np.matrix([Husband_Сonsumption, Wife_Сonsumption, Mother_In_Law_Сonsumption])
Cons = Cons.T
Cons

matrix([[ 50, 100, 100],
        [ 50,  80,  20],
        [ 60, 140, 140]])

In [11]:
Inc - 0.13*Inc

matrix([[ 87. , 130.5,  78.3],
        [191.4, 174. ,  69.6],
        [121.8, 113.1,  87. ]])

In [15]:
P = Inc - 0.13*Inc - Cons
print(P)

[[ 37.   30.5 -21.7]
 [141.4  94.   49.6]
 [ 61.8 -26.9 -53. ]]

In [18]:
A = np.array([[5,-1,3,1,2], [-2,8,5,-1,1]])
x = np.array([1,2,3,4,5])

In [19]:
A

array([[ 5, -1,  3,  1,  2],
       [-2,  8,  5, -1,  1]])

In [20]:
x

array([1, 2, 3, 4, 5])

In [21]:
A@x

array([26, 30])

In [26]:
A = np.array([[1,9,8,5], [3,6,3,2], [3,3,3,3], [0,2,5,9], [4,4,1,2]])
B = np.array([[1,-1,0,1,1], [-2,0,2,-1,1]])

In [27]:
A

array([[1, 9, 8, 5],
       [3, 6, 3, 2],
       [3, 3, 3, 3],
       [0, 2, 5, 9],
       [4, 4, 1, 2]])

In [28]:
B

array([[ 1, -1,  0,  1,  1],
       [-2,  0,  2, -1,  1]])

In [29]:
B@A

array([[  2,   9,  11,  14],
       [  8, -10, -14, -11]])

In [30]:
x = np.array([1,2,1,0,4])
y = np.array([2,1,-1,1,0])
z = np.array([-1,1,-1,0,0])

In [31]:
A = np.array([x,y,z])
A

array([[ 1,  2,  1,  0,  4],
       [ 2,  1, -1,  1,  0],
       [-1,  1, -1,  0,  0]])

In [32]:
print(A, type(A))

[[ 1  2  1  0  4]
 [ 2  1 -1  1  0]
 [-1  1 -1  0  0]] <class 'numpy.ndarray'>

In [33]:
A@A.T

array([[22,  3,  0],
       [ 3,  7,  0],
       [ 0,  0,  3]])

In [34]:
Count_DF = pd.DataFrame({'Женские стрижки': [10, 2, 12, 4, 6, 10, 22, 7], 
                                'Мужские стрижки': [5, 21, 12, 8, 25, 3, 1, 0], 
                                'Окрашивания':[12, 3, 0, 18, 27, 2, 4, 31],
                              'Укладка':[15, 25, 30, 14, 25, 17, 25, 31],
                                'Уход':[10, 6, 4, 5, 18, 12, 20, 28]
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])

In [35]:
Count_DF

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                 10                5           12       15    10
Борис                2               21            3       25     6
Вика                12               12            0       30     4
Галя                 4                8           18       14     5
Дима                 6               25           27       25    18
Егор                10                3            2       17    12
Женя                22                1            4       25    20
Юра                  7                0           31       31    28

In [36]:
Price_DF = pd.DataFrame({'Женские стрижки': [2, 1.8, 2, 1.8, 2.5, 5, 1.1, 4.5], 
                                'Мужские стрижки': [1.5, 2.5, 2, 1.2, 3.5, 5, 1, 4], 
                                'Окрашивания':[1, 1, 0, 2.8, 2, 3, 1.5, 2.5],
                              'Укладка':[0.8, 1, 0.5, 0.8, 1, 2, 0.5, 1],
                                'Уход':[1, 1, 2, 2, 1.5, 2.5, 1.7, 2] 
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])

In [37]:
Price_DF

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                2.0              1.5          1.0      0.8   1.0
Борис              1.8              2.5          1.0      1.0   1.0
Вика               2.0              2.0          0.0      0.5   2.0
Галя               1.8              1.2          2.8      0.8   2.0
Дима               2.5              3.5          2.0      1.0   1.5
Егор               5.0              5.0          3.0      2.0   2.5
Женя               1.1              1.0          1.5      0.5   1.7
Юра                4.5              4.0          2.5      1.0   2.0

In [38]:
Count_DF

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                 10                5           12       15    10
Борис                2               21            3       25     6
Вика                12               12            0       30     4
Галя                 4                8           18       14     5
Дима                 6               25           27       25    18
Егор                10                3            2       17    12
Женя                22                1            4       25    20
Юра                  7                0           31       31    28

In [52]:
Price_DF.loc['Борис', :].values*Count_DF.loc['Борис', :].values

array([ 3.6, 52.5,  3. , 25. ,  6. ])

In [54]:
Price_DF.loc[:, :].values*Count_DF.loc[:, :].values

array([[20. ,  7.5, 12. , 12. , 10. ],
       [ 3.6, 52.5,  3. , 25. ,  6. ],
       [24. , 24. ,  0. , 15. ,  8. ],
       [ 7.2,  9.6, 50.4, 11.2, 10. ],
       [15. , 87.5, 54. , 25. , 27. ],
       [50. , 15. ,  6. , 34. , 30. ],
       [24.2,  1. ,  6. , 12.5, 34. ],
       [31.5,  0. , 77.5, 31. , 56. ]])

In [65]:
Price_DF.values*Count_DF.values

array([[20. ,  7.5, 12. , 12. , 10. ],
       [ 3.6, 52.5,  3. , 25. ,  6. ],
       [24. , 24. ,  0. , 15. ,  8. ],
       [ 7.2,  9.6, 50.4, 11.2, 10. ],
       [15. , 87.5, 54. , 25. , 27. ],
       [50. , 15. ,  6. , 34. , 30. ],
       [24.2,  1. ,  6. , 12.5, 34. ],
       [31.5,  0. , 77.5, 31. , 56. ]])

In [66]:
com = [0.2, 0.2, 0.3, 0.1, 0.1]

In [67]:
(Price_DF.values*Count_DF.values)@com

array([11.3 , 15.22, 11.9 , 20.6 , 41.9 , 21.2 , 11.49, 38.25])

In [68]:
(Price_DF.values*Count_DF.values)@[1,1,1,1,1] - (Price_DF.values*Count_DF.values)@com

array([ 50.2 ,  74.88,  59.1 ,  67.8 , 166.6 , 113.8 ,  66.21, 157.75])

In [2]:
A = np.array([[8, 6, 11], [7, 5, 9],[6, 10, 6]])
A

array([[ 8,  6, 11],
       [ 7,  5,  9],
       [ 6, 10,  6]])

In [5]:
np.linalg.inv(A)

array([[-1.875  ,  2.3125 , -0.03125],
       [ 0.375  , -0.5625 ,  0.15625],
       [ 1.25   , -1.375  , -0.0625 ]])

In [6]:
v1 = np.array([9, 10, 7, 7, 9])
v2 = np.array([2, 0, 5, 1, 4])
v3 = np.array([4, 0, 0, 4, 1])
v4 = np.array([3, -4, 3, -1, -4])

In [8]:
A = np.array([v1,v2,v3,v4]).T
A

array([[ 9,  2,  4,  3],
       [10,  0,  0, -4],
       [ 7,  5,  0,  3],
       [ 7,  1,  4, -1],
       [ 9,  4,  1, -4]])

In [9]:
np.linalg.matrix_rank(A)

4

In [10]:
np.linalg.matrix_rank(A.T)

4

In [11]:
A.T@A

array([[360,  96,  73, -35],
       [ 96,  46,  16,   4],
       [ 73,  16,  33,   4],
       [-35,   4,   4,  51]])

In [12]:
np.linalg.det(A.T@A)

3716647.9999999995

In [13]:
np.linalg.inv(A.T@A)

array([[ 0.01711488, -0.02798543, -0.02623063,  0.01599775],
       [-0.02798543,  0.071967  ,  0.03031441, -0.02722776],
       [-0.02623063,  0.03031441,  0.07683106, -0.02640498],
       [ 0.01599775, -0.02722776, -0.02640498,  0.03479318]])