In [1]:
import numpy as np
import pandas as pd

In [2]:
x = np.array([1, 2, 3])
print(x.ndim)
x

1

array([1, 2, 3])

In [3]:
y = np.zeros((2, 3, 4))
print(y.ndim)
y

3

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [4]:
# В NumPy вектор и массив - одно и то же. 
# Исключение - понятие вектор-столбец и вектор-строка - фактически двумерные массивы, 
# где один из атрибутов shape равен 1.

print("ndim:", x.ndim) # число осей (измерений) массива - n.dim: 1
print("shape:", x.shape) # размеры массива, для вектора определена только длина - shape: (6, )

ndim: 1
shape: (3,)

In [8]:
x.shape = (1, 3)

In [9]:
x

array([[1, 2, 3]])

In [10]:
x.shape

(1, 3)

In [13]:
x = np.array(x)

In [16]:
apartment = np.array([59.50, 31.40, 19, 2, 60550, 2])

In [17]:
share_living_space = apartment[1]/apartment[0]

In [18]:
apartment = np.delete(apartment, [0, 1])

In [19]:
apartment

array([1.900e+01, 2.000e+00, 6.055e+04, 2.000e+00])

In [20]:
apartment = np.append(apartment, share_living_space)
apartment

array([1.90000000e+01, 2.00000000e+00, 6.05500000e+04, 2.00000000e+00,
       5.27731092e-01])

In [21]:
x = np.array([4, 5])
y = np.array([2, 1])
u = np.array([1, 0])
2*x + (-3)*y + 5*u

array([7, 7])

In [23]:
x = np.array([3,4,5,9])
y = np.array([1,5,3,6])
400*y - 200*x

array([-200, 1200,  200,  600])

In [24]:
a = np.array([4,5,-1])  
b = np.array([2,0,1])
np.dot(a,b)

7

In [25]:
Hut_Paradise_DF = pd.DataFrame({'1.Rent': [65, 70, 120, 35, 40, 50, 100, 90, 85], 
                                '2.Area': [50, 52, 80, 33, 33, 44, 80, 65, 65], 
                                '3.Rooms':[3, 2, 1, 1, 1, 2, 4, 3, 2],
                                '4.Floor':[5, 12, 10, 3, 6, 13, 8, 21, 5], 
                                '5.Demo two weeks':[8, 4, 5, 10, 20, 12, 5, 1, 10], 
                                '6.Liv.Area': [37, 40, 65, 20, 16, 35, 60, 50, 40]})

In [27]:
Hut_Paradise_DF

   1.Rent  2.Area  3.Rooms  4.Floor  5.Demo two weeks  6.Liv.Area
0      65      50        3        5                 8          37
1      70      52        2       12                 4          40
2     120      80        1       10                 5          65
3      35      33        1        3                10          20
4      40      33        1        6                20          16
5      50      44        2       13                12          35
6     100      80        4        8                 5          60
7      90      65        3       21                 1          50
8      85      65        2        5                10          40

In [31]:
Hut_Paradise_DF.values[4]

array([40, 33,  1,  6, 20, 16], dtype=int64)

In [32]:
Hut_Paradise_DF.values[:,3]

array([ 5, 12, 10,  3,  6, 13,  8, 21,  5], dtype=int64)

In [39]:
Hut_Paradise_DF['4.Floor'].values

array([ 5, 12, 10,  3,  6, 13,  8, 21,  5], dtype=int64)

In [35]:
Hut_Paradise_DF.iloc[4].values

array([40, 33,  1,  6, 20, 16], dtype=int64)

In [40]:
Hut_Paradise_DF['4.Floor'].values[2]

10

In [41]:
Hut_Paradise_DF.shape

(9, 6)

In [44]:
Hut_Paradise_DF['2.Area'].values - Hut_Paradise_DF['6.Liv.Area'].values

array([13, 12, 15, 13, 17,  9, 20, 15, 25], dtype=int64)

In [46]:
Hut_Paradise_DF['1.Rent'].values * (4/10)

array([26., 28., 48., 14., 16., 20., 40., 36., 34.])

In [48]:
t = np.array([10,20,30,15,5,40,20,8,20])

In [49]:
np.dot(t,Hut_Paradise_DF['5.Demo two weeks'].values)

1348

In [50]:
t@Hut_Paradise_DF['5.Demo two weeks'].values

1348

In [51]:
u=np.array([3,0,1,1,1])
v=np.array([0,1,0,2,-2])
w=np.array([1,-4,-1,0,-2])

In [52]:
u@v

0

In [53]:
v@w

0

In [54]:
u@w

0

In [55]:
2*v - 3*w

array([-3, 14,  3,  4,  2])

In [56]:
(2*v - 3*w)@u

0

In [58]:
u/np.linalg.norm(u)

array([0.8660254 , 0.        , 0.28867513, 0.28867513, 0.28867513])

In [59]:
v/np.linalg.norm(v)

array([ 0.        ,  0.33333333,  0.        ,  0.66666667, -0.66666667])

In [60]:
w/np.linalg.norm(w)

array([ 0.21320072, -0.85280287, -0.21320072,  0.        , -0.42640143])