In [1]:
import numpy as np

In [2]:
data = np.zeros(4, dtype={'names':('name', 'age', 'weight'),
                          'formats':('U10', 'i4', 'f8')})
print(data.dtype)

[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')]

In [3]:
print(data)

[('', 0, 0.) ('', 0, 0.) ('', 0, 0.) ('', 0, 0.)]

In [4]:
name = ['Alice', 'Bob', 'Cathy', 'Doug']
age = [25, 45, 37, 19]
weight = [55.0, 85.5, 68.0, 61.5]

In [5]:
data['name'] = name
data['age'] = age
data['weight'] = weight
print(data)

[('Alice', 25, 55. ) ('Bob', 45, 85.5) ('Cathy', 37, 68. )
 ('Doug', 19, 61.5)]

In [11]:
data[0]

('Alice', 25, 55.)

In [12]:
data.shape

(4,)

In [13]:
data[-1]

('Doug', 19, 61.5)

In [14]:
data[-1]['name']

'Doug'

In [15]:
data[data['age'] < 30]['name']

array(['Alice', 'Doug'], dtype='<U10')

In [19]:
tp = np.dtype([('id', 'i8'), ('mat', 'f8', (3, 3))])
X = np.zeros(3, dtype=tp)

In [20]:
X

array([(0, [[0., 0., 0.], [0., 0., 0.], [0., 0., 0.]]),
       (0, [[0., 0., 0.], [0., 0., 0.], [0., 0., 0.]]),
       (0, [[0., 0., 0.], [0., 0., 0.], [0., 0., 0.]])],
      dtype=[('id', '<i8'), ('mat', '<f8', (3, 3))])

In [21]:
print(X[0])
print(X['mat'][0])

(0, [[0., 0., 0.], [0., 0., 0.], [0., 0., 0.]])
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [22]:
data['age']

array([25, 45, 37, 19])

In [25]:
data_rec = data.view(np.recarray)
data_rec.age

array([25, 45, 37, 19])

In [26]:
%timeit data['age']
%timeit data_rec['age']
%timeit data_rec.age

108 ns ± 12.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
2.31 µs ± 25.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
2.99 µs ± 36.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)