# 6.4. Бустинг. Практика

### 4.1

### Задание

Из столбца yesno сделайте столбец spam, где 1 соответствует значению y (является спамом), а 0 – n (не является спамом). Удалите первый столбец (с индексом) и столбец "yesno".

У Вас остается шесть столбцов-признаков и один столбец spam, который является нашей целевой переменной. Разделим их на x и у.

Теперь мы хотим создать новые признаки путем попарного перемножения уже имеющихся друг на друга. Сколько получится признаков после преобразования (включая те шесть, которые были в исходных данных)?

### Решение

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/DAAG/spam7.csv')

In [3]:
data['spam'] = data['yesno'].map({'y': 1, 'n': 0})
data = data.drop(['Unnamed: 0','yesno',], axis=1)

data.head()

   crl.tot  dollar   bang  money  n000  make  spam
0      278   0.000  0.778   0.00  0.00  0.00     1
1     1028   0.180  0.372   0.43  0.43  0.21     1
2     2259   0.184  0.276   0.06  1.16  0.06     1
3      191   0.000  0.137   0.00  0.00  0.00     1
4      191   0.000  0.135   0.00  0.00  0.00     1

In [4]:
y = data['spam']
X = data.drop(['spam'], axis = 1)

In [5]:
columns = X.columns

In [6]:
was = []
for col in columns:
    for col1 in columns:
        if col != col1 and col+'_'+col1 not in X.columns and col1 +'_'+col not in X.columns:
            X[col+'_'+col1] = X[col] * X[col1]

In [7]:
X.head()

,crl.tot,dollar,bang,money,n000,make,crl.tot_dollar,crl.tot_bang,crl.tot_money,crl.tot_n000,...,dollar_bang,dollar_money,dollar_n000,dollar_make,bang_money,bang_n000,bang_make,money_n000,money_make,n000_make
0,278,0.000,0.778,0.00,0.00,0.00,0.000,216.284,0.00,0.00,...,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.0000,0.0000
1,1028,0.180,0.372,0.43,0.43,0.21,185.040,382.416,442.04,442.04,...,0.066960,0.07740,0.07740,0.03780,0.15996,0.15996,0.07812,0.1849,0.0903,0.0903
2,2259,0.184,0.276,0.06,1.16,0.06,415.656,623.484,135.54,2620.44,...,0.050784,0.01104,0.21344,0.01104,0.01656,0.32016,0.01656,0.0696,0.0036,0.0696
3,191,0.000,0.137,0.00,0.00,0.00,0.000,26.167,0.00,0.00,...,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.0000,0.0000
4,191,0.000,0.135,0.00,0.00,0.00,0.000,25.785,0.00,0.00,...,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.0000,0.0000

In [8]:
X.shape[1]

21

#### Ответ: 21

### 4.2

### Задание

Разделим получившися данные на обучающую и тестовую выборки в соотношение 80:20. Обучите модель GradientBoostingClassifier (из библиотеки sklearn) с параметрами по умолчанию (на момент создания урока это learning_rate=0.1, n_estimators=100,max_depth=3, min_samples_split=2, min_samples_leaf=1, subsample=1,max_features=None).

Во всех методах, где присутствует случайность, укажите random_state=42.

Это будет наш baseline. Укажите точность на тестовой выборке (параметр score), округлив до третьего знака после точки-разделителя.

### Решение

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
baseline = GradientBoostingClassifier(learning_rate=0.1, n_estimators=100,max_depth=3, min_samples_split=2, min_samples_leaf=1, subsample=1,max_features=None,random_state=42)
baseline.fit(X_train,y_train)
print('Accuracy of the GBM on test set: {:.3f}'.format(baseline.score(X_test, y_test)))

Accuracy of the GBM on test set: 0.865

#### Ответ: 0.865