In [1]:
def safe_sum(a, b):  
    try:  
        return(a+b)  
    except TypeError:  
        print(f"Can't sum {a} and {b}")
        return 0

In [2]:
safe_sum(5, 'a')

Can't sum 5 and a

0

In [3]:
import pandas as pd
import pdb

In [4]:
df = pd.read_csv('imdb.csv')
df.sample(5)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
11,12,Hidden Figures,"Biography,Drama,History",The story of a team of female African-American...,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127,7.8,93103,169.27,74.0
883,884,Rio,"Animation,Adventure,Comedy","When Blu, a domesticated macaw from small-town...",Carlos Saldanha,"Jesse Eisenberg, Anne Hathaway, George Lopez,K...",2011,96,6.9,173919,143.62,63.0
119,120,Finding Dory,"Animation,Adventure,Comedy","The friendly but forgetful blue tang fish, Dor...",Andrew Stanton,"Ellen DeGeneres, Albert Brooks,Ed O'Neill, Kai...",2016,97,7.4,157026,486.29,77.0
339,340,Blended,"Comedy,Romance","After a bad blind date, a man and woman find t...",Frank Coraci,"Adam Sandler, Drew Barrymore, Wendi McLendon-C...",2014,117,6.5,93764,46.28,31.0
448,449,Big Hero 6,"Animation,Action,Adventure",The special bond that develops between plus-si...,Don Hall,"Ryan Potter, Scott Adsit, Jamie Chung,T.J. Miller",2014,102,7.8,309186,222.49,74.0

In [5]:
df[df['Title']=='Suicide Squad']['Year']

4    2016
Name: Year, dtype: int64

In [6]:
import csv  
  
# открываем файл  
with open("imdb.csv", newline="") as csvfile:  
    # делаем reader, который построчно берёт данные из файла  
    reader = csv.reader(csvfile)  
    for i in range(5):  
        print(next(reader))

['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore']
['1', 'Guardians of the Galaxy', 'Action,Adventure,Sci-Fi', 'A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.', 'James Gunn', 'Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana', '2014', '121', '8.1', '757074', '333.13', '76']
['2', 'Prometheus', 'Adventure,Mystery,Sci-Fi', 'Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.', 'Ridley Scott', 'Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron', '2012', '124', '7', '485820', '126.46', '65']
['3', 'Split', 'Horror,Thriller', 'Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.', 'M. Night Shyamalan', 'James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula', '2016', '117', '7.3', '157606', '138.12', '62']
['4', 'Sing', 'Animation,Comedy,Family', "In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same.", 'Christophe Lourdelet', 'Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson', '2016', '108', '7.2', '60545', '270.32', '59']

In [7]:
def remove_dups(seq):
    seen = set()
    seen_add = seen.add
    return [x for x in seq if not (x in seen or seen_add(x))]

In [8]:
remove_dups([1, 12, 4, 1, 4, 8])

[1, 12, 4, 8]

In [9]:
from collections import Counter  
  
# Считаем, сколько фильмов в каждом жанре  
def count_genres(column):  
    genres = [] 
    pdb.set_trace()
    for movie_genres in column:  
        splitted = movie_genres.split(",")  
        genres.extend(splitted)  
    counter = Counter(genres)  
      
    return counter

In [10]:
print(count_genres(df["Genre"]))

> <ipython-input-9-f33cbe28e4d0>(7)count_genres()
-> for movie_genres in column:
(Pdb) genres
[]
(Pdb) next
> <ipython-input-9-f33cbe28e4d0>(8)count_genres()
-> splitted = movie_genres.split(",")
(Pdb) column
0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object
(Pdb) next
> <ipython-input-9-f33cbe28e4d0>(9)count_genres()
-> genres.extend(splitted)
(Pdb) splitted
['Action', 'Adventure', 'Sci-Fi']
(Pdb) genres
[]
(Pdb) next
> <ipython-input-9-f33cbe28e4d0>(7)count_genres()
-> for movie_genres in column:
(Pdb) genres
['Action', 'Adventure', 'Sci-Fi']
(Pdb) continue
Counter({'Drama': 513, 'Action': 303, 'Comedy': 279, 'Adventure': 259, 'Thriller': 195, 'Crime': 150, 'Romance': 141, 'Sci-Fi': 120, 'Horror': 119, 'Mystery': 106, 'Fantasy': 101, 'Biography': 81, 'Family': 51, 'Animation': 49, 'History': 29, 'Sport': 18, 'Music': 16, 'War': 13, 'Western': 7, 'Musical': 5})

In [13]:
user_db = [
    {"name": "Elena", "age": 19, "salary": 80_000},
    {"name": "Sergey", "age": 31, "salary": 160_000},
    {"name": "Olga", "age": 33, "salary": 170_000},
    {"name": "Vadim", "age": 17, "salary": 45_000}
]

from collections import defaultdict

def group_values(db, value_key, group_key, step):
    grouped = defaultdict(list) 
    for item in db:
        grouped[(item[group_key] // step)*step].append(item[value_key])
    print(dict(grouped))

group_values(user_db, "salary", "age", 10)

{10: [80000, 45000], 30: [160000, 170000]}

In [14]:
!pytest digitize.py

============================= test session starts =============================
platform win32 -- Python 3.7.6, pytest-5.3.5, py-1.8.1, pluggy-0.13.1
rootdir: C:\projects\mlda\SkillFactory\unit_6
plugins: hypothesis-5.5.4, arraydiff-0.3, astropy-header-0.1.2, doctestplus-0.5.0, openfiles-0.4.0, remotedata-0.3.2
collected 3 items

digitize.py ...                                                          [100%]

============================== 3 passed in 0.04s ==============================

In [15]:
def zero_div():
    return 5/0

# safe_exec(zero_div)
# => division by zero
# => 0

def normal_div():
    return 5/1

# safe_exec(normal_div)
# => 5

In [22]:
def safe_exec(f):
    try:
        return f()
    except Exception as exc:
        print(exc)
        return 0

In [23]:
safe_exec(zero_div)

division by zero

0

In [24]:
safe_exec(normal_div)

5.0

In [ ]:
except ZeroDivisionError as zero_error:  
    # здесь в zero_error мы получаем сам объект исключения  
    # print как раз выведет его поясняющее сообщение  
    print(zero_error)