In [1]:
import pandas as pd

In [2]:
ser = pd.Series(data = [3, 0, 4, 5])
ser

0    3
1    0
2    4
3    5
dtype: int64

In [3]:
ser.mean()

3.0

In [4]:
def sub_mean(x):
    return x - ser.mean()

In [5]:
ser_new = ser.apply(lambda x: sub_mean(x) if x != 0 else x)

In [6]:
ser_new

0    0.0
1    0.0
2    1.0
3    2.0
dtype: float64

In [2]:
ser = pd.Series(data = [3, None, 4, 5])
ser

0    3.0
1    NaN
2    4.0
3    5.0
dtype: float64

In [4]:
ser.mean()

4.0

In [9]:
ser_new = ser.apply(lambda x: ser.mean() if pd.isnull(x) else x)
ser_new

0    3.0
1    4.0
2    4.0
3    5.0
dtype: float64