In [1]:
16*25

400

In [2]:
16*25 + 3*100 + 1*300

1000

In [3]:
200*2.4 - 300

180.0

In [5]:
EX = 2*0.1 + 3*0.2 + 4*0.6 + 5*0.1
EX

3.7

In [6]:
EX2 = 2*2*0.1 + 3*3*0.2 + 4*4*0.6 + 5*5*0.1
EX2

14.3

In [8]:
E2X = (2*0.1 + 3*0.2 + 4*0.6 + 5*0.1)**2
E2X

13.690000000000001

In [11]:
var = EX2 - E2X
var

0.6099999999999994

In [12]:
var**(1/2)

0.7810249675906651

In [13]:
0.1 * (2-3.7)**2 + 0.2 * (3-3.7)**2 + 0.6* (4-3.7)**2 + 0.1* (5-3.7)**2#Variamce by definition

0.61

In [14]:
E = 38*0.1 + 39*0.1 + 40*0.3 + 41*0.2 + 42*0.2 + 43*0.1
E

40.6

In [15]:
EX2 = 38*38*0.1 + 39*39*0.1 + 40*40*0.3 + 41*41*0.2 + 42*42*0.2 + 43*43*0.1
EX2

1650.4

In [16]:
E2X = E*E
E2X

1648.3600000000001

In [18]:
var = EX2 - E2X
var

2.0399999999999636

In [20]:
sigma = var**(1/2)
sigma

1.4282856857085573

In [21]:
40.6*10 + 20

426.0

In [22]:
(100*var)**(1/2)

14.282856857085573

In [1]:
import pandas as pd

In [24]:
X = pd.DataFrame({
    'x': [1, 2, 3, 4],
    'p': [0.2, 0.1, 0.4, 0.3]
})
X

   x    p
0  1  0.2
1  2  0.1
2  3  0.4
3  4  0.3

In [25]:
Y = pd.DataFrame({
    'y': [-1, 0, 1, 2],
    'p': [0.5, 0.2, 0.1, 0.2]
})
Y

   y    p
0 -1  0.5
1  0  0.2
2  1  0.1
3  2  0.2

In [28]:
U = pd.DataFrame(columns = ['u', 'p'])
U['u'] = 3*X['x'] + 1
U['p'] = X['p']
U

    u    p
0   4  0.2
1   7  0.1
2  10  0.4
3  13  0.3

In [30]:
S = pd.DataFrame(columns = ['s', 'p'])
S['s'] = 5 - Y['y']
S['p'] = Y['p']
S

   s    p
0  6  0.5
1  5  0.2
2  4  0.1
3  3  0.2

In [34]:
EX = (X['x']*X['p']).sum()
EX

2.8

In [38]:
EX2 = (X['x']*X['x']*X['p']).sum()
E2X = EX*EX
EX2 - E2X

1.160000000000001

In [35]:
EY = (Y['y']*Y['p']).sum()
EY

0.0

In [39]:
EY2 = (Y['y']*Y['y']*Y['p']).sum()
E2Y = EY*EY
EY2 - E2Y

1.4

In [40]:
EU = 3*EX + 1
EU

9.399999999999999

In [42]:
ES = 5 - EY
ES

5.0

In [44]:
var_U = 9*(EX2 - E2X)
var_U

10.440000000000008

In [2]:
from scipy.stats import norm

In [48]:
norm.cdf(1.5)

0.9331927987311419

In [49]:
norm.cdf(0)

0.5

In [50]:
norm.ppf(0.93319)

1.4999783914627915

In [51]:
norm.ppf(0.5)

0.0

In [52]:
norm.cdf(1)

0.8413447460685429

In [53]:
norm.cdf(1.12)

0.8686431189572693

In [54]:
norm.cdf(-1.87)

0.030741908929465954

In [55]:
1 - norm.cdf(2)

0.02275013194817921

In [56]:
norm.ppf(0.1)

-1.2815515655446004

In [57]:
norm.ppf(0.95)

1.6448536269514722

In [58]:
norm.ppf(0.025)

-1.9599639845400545

In [59]:
norm.ppf(0.99)

2.3263478740408408

In [60]:
norm.ppf(0.005)

-2.575829303548901

In [3]:
1 - norm.cdf(75, 70, 5/(5**(1/2)))

0.0126736593387341

In [4]:
1 - norm.cdf(75, 70, 5**(1/2))

0.0126736593387341

In [5]:
norm.cdf(0.16, 0.2, 0.4/15)

0.06680720126885807

In [6]:
400*(1*0.3 + 2*0.4 + 3*0.3)

800.0

In [7]:
X = pd.DataFrame({
    'x': [2, 3, 4, 5],
    'p': [0.1, 0.2, 0.6, 0.1]
})
X

   x    p
0  2  0.1
1  3  0.2
2  4  0.6
3  5  0.1

In [9]:
EX = (X['x']*X['p']).sum()
EX

3.7

In [10]:
E_X_X_P1 = (X['x']*X['x']*X['p']).sum() + (X['x']*X['p']).sum()
E_X_X_P1

18.0

In [11]:
1 - norm.cdf(820, 700, 120)

0.15865525393145707

In [12]:
norm.cdf(820, 700, 120) - norm.cdf(730, 700, 120)

0.24263842038561922

In [13]:
norm.ppf(0.05, 700, 120)

502.61756476582326

In [14]:
norm.cdf(503, 700, 120)

0.050329551646610377