In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv('solarpower_cumuldaybyday2.csv')
df.head(15)

          date  cum_power  Unnamed: 2
0   26/10/2011        0.1         NaN
1   27/10/2011       10.2         NaN
2   28/10/2011       20.2         NaN
3   29/10/2011       29.6         NaN
4   30/10/2011       34.2         NaN
5   31/10/2011       38.0         NaN
6    1/11/2011       46.6         NaN
7    2/11/2011       51.6         NaN
8    3/11/2011       58.6         NaN
9    4/11/2011       60.5         NaN
10   5/11/2011       65.7         NaN
11   6/11/2011       71.8         NaN
12   7/11/2011       73.3         NaN
13   8/11/2011       73.8         NaN
14   9/11/2011       76.1         NaN

In [18]:
df['date'] = pd.to_datetime(df['date'], format = '%d/%m/%Y')
df.drop(['Unnamed: 2'], axis=1, inplace=True)
df.head(15)

         date  cum_power
0  2011-10-26        0.1
1  2011-10-27       10.2
2  2011-10-28       20.2
3  2011-10-29       29.6
4  2011-10-30       34.2
5  2011-10-31       38.0
6  2011-11-01       46.6
7  2011-11-02       51.6
8  2011-11-03       58.6
9  2011-11-04       60.5
10 2011-11-05       65.7
11 2011-11-06       71.8
12 2011-11-07       73.3
13 2011-11-08       73.8
14 2011-11-09       76.1

In [19]:
df = df.set_index(pd.DatetimeIndex(df['date']))
# столбец Date нам больше не нужен, удалим его
df.drop(['date'], axis=1, inplace=True)
df.head(15)

            cum_power
date
2011-10-26        0.1
2011-10-27       10.2
2011-10-28       20.2
2011-10-29       29.6
2011-10-30       34.2
2011-10-31       38.0
2011-11-01       46.6
2011-11-02       51.6
2011-11-03       58.6
2011-11-04       60.5
2011-11-05       65.7
2011-11-06       71.8
2011-11-07       73.3
2011-11-08       73.8
2011-11-09       76.1

In [21]:
df.tail(5)

            cum_power
date
2018-10-22    28101.0
2018-10-23    28109.0
2018-10-24    28115.0
2018-10-25    28117.0
2018-10-26    28120.0

In [22]:
df.resample('w').sum()

            cum_power
date
2011-10-30       94.3
2011-11-06      392.8
2011-11-13      590.2
2011-11-20      840.1
2011-11-27     1045.8
...               ...
2018-09-30   194930.0
2018-10-07   195489.0
2018-10-14   196060.0
2018-10-21   196519.0
2018-10-28   140562.0

[366 rows x 1 columns]

In [24]:
df = df.resample('w').sum()

In [35]:
df.loc['2014-10-03':]

            cum_power
date
2014-10-05    81567.0
2014-10-12    81898.0
2014-10-19    82223.0
2014-10-26    82532.0
2014-11-02    82781.0
...               ...
2018-09-30   194930.0
2018-10-07   195489.0
2018-10-14   196060.0
2018-10-21   196519.0
2018-10-28   140562.0

[213 rows x 1 columns]

In [36]:
cum_power = df.cum_power
cum_power

date
2011-10-30        94.3
2011-11-06       392.8
2011-11-13       590.2
2011-11-20       840.1
2011-11-27      1045.8
                ...
2018-09-30    194930.0
2018-10-07    195489.0
2018-10-14    196060.0
2018-10-21    196519.0
2018-10-28    140562.0
Freq: W-SUN, Name: cum_power, Length: 366, dtype: float64

In [38]:
cum_power1 = cum_power.rolling(window = 4).mean()
print(len(cum_power), len(cum_power1))

366 366

In [39]:
cum_power1

date
2011-10-30           NaN
2011-11-06           NaN
2011-11-13           NaN
2011-11-20       479.350
2011-11-27       717.225
                 ...
2018-09-30    193942.500
2018-10-07    194585.250
2018-10-14    195197.000
2018-10-21    195749.500
2018-10-28    182157.500
Freq: W-SUN, Name: cum_power, Length: 366, dtype: float64

In [46]:
cum_power1[119]

56615.0

In [47]:
cum_power

date
2011-10-30        94.3
2011-11-06       392.8
2011-11-13       590.2
2011-11-20       840.1
2011-11-27      1045.8
                ...
2018-09-30    194930.0
2018-10-07    195489.0
2018-10-14    196060.0
2018-10-21    196519.0
2018-10-28    140562.0
Freq: W-SUN, Name: cum_power, Length: 366, dtype: float64

In [49]:
cum_power_delta = cum_power.diff()
cum_power_delta

date
2011-10-30        NaN
2011-11-06      298.5
2011-11-13      197.4
2011-11-20      249.9
2011-11-27      205.7
               ...
2018-09-30      621.0
2018-10-07      559.0
2018-10-14      571.0
2018-10-21      459.0
2018-10-28   -55957.0
Freq: W-SUN, Name: cum_power, Length: 366, dtype: float64

In [51]:
cum_power_delta[0] = 0

In [52]:
cum_power_delta

date
2011-10-30        0.0
2011-11-06      298.5
2011-11-13      197.4
2011-11-20      249.9
2011-11-27      205.7
               ...
2018-09-30      621.0
2018-10-07      559.0
2018-10-14      571.0
2018-10-21      459.0
2018-10-28   -55957.0
Freq: W-SUN, Name: cum_power, Length: 366, dtype: float64

In [53]:
cum_power_delta.loc['2014-10-03':]

date
2014-10-05      472.0
2014-10-12      331.0
2014-10-19      325.0
2014-10-26      309.0
2014-11-02      249.0
               ...
2018-09-30      621.0
2018-10-07      559.0
2018-10-14      571.0
2018-10-21      459.0
2018-10-28   -55957.0
Freq: W-SUN, Name: cum_power, Length: 213, dtype: float64

In [55]:
df=pd.read_csv('solarpower_cumuldaybyday2.csv')
df.drop('Unnamed: 2', axis=1, inplace=True)
df['date']=pd.to_datetime(df['date'], format='%d/%m/%Y')
df=df.set_index(pd.DatetimeIndex(df['date']))
df.drop(['date'], axis=1, inplace=True)
df=df.resample('w').ffill()
df

            cum_power
date
2011-10-30       34.2
2011-11-06       71.8
2011-11-13       99.9
2011-11-20      136.5
2011-11-27      156.1
...               ...
2018-09-30    27886.0
2018-10-07    27963.0
2018-10-14    28040.0
2018-10-21    28095.0
2018-10-28    28120.0

[366 rows x 1 columns]

In [56]:
res_mean = df.cum_power.rolling(window=4).mean()
res_mean

date
2011-10-30          NaN
2011-11-06          NaN
2011-11-13          NaN
2011-11-20       85.600
2011-11-27      116.075
                ...
2018-09-30    27743.750
2018-10-07    27834.250
2018-10-14    27921.500
2018-10-21    27996.000
2018-10-28    28054.500
Freq: W-SUN, Name: cum_power, Length: 366, dtype: float64

In [57]:
df=pd.read_csv('solarpower_cumuldaybyday2.csv')
df.drop('Unnamed: 2', axis=1, inplace=True)
df['date']=pd.to_datetime(df['date'], format='%d/%m/%Y')
df=df.set_index(pd.DatetimeIndex(df['date']))
df.drop(['date'], axis=1, inplace=True)
df=df.resample('w').sum()
df

            cum_power
date
2011-10-30       94.3
2011-11-06      392.8
2011-11-13      590.2
2011-11-20      840.1
2011-11-27     1045.8
...               ...
2018-09-30   194930.0
2018-10-07   195489.0
2018-10-14   196060.0
2018-10-21   196519.0
2018-10-28   140562.0

[366 rows x 1 columns]

In [61]:
df=pd.read_csv('solarpower_cumuldaybyday2.csv')
df.drop('Unnamed: 2', axis=1, inplace=True)
df['date']=pd.to_datetime(df['date'], format='%d/%m/%Y')
df=df.set_index(pd.DatetimeIndex(df['date']))
df.drop(['date'], axis=1, inplace=True)
df=df.resample('w').ffill()
df

            cum_power
date
2011-10-30       34.2
2011-11-06       71.8
2011-11-13       99.9
2011-11-20      136.5
2011-11-27      156.1
...               ...
2018-09-30    27886.0
2018-10-07    27963.0
2018-10-14    28040.0
2018-10-21    28095.0
2018-10-28    28120.0

[366 rows x 1 columns]

In [62]:
df.loc['2014-10-03':]

            cum_power
date
2014-10-05    11677.0
2014-10-12    11721.0
2014-10-19    11770.0
2014-10-26    11803.0
2014-11-02    11845.0
...               ...
2018-09-30    27886.0
2018-10-07    27963.0
2018-10-14    28040.0
2018-10-21    28095.0
2018-10-28    28120.0

[213 rows x 1 columns]

In [65]:
11721.0 - 11677.0

44.0

In [66]:
res_mean = df.cum_power.rolling(window=4).mean()
res_mean

date
2011-10-30          NaN
2011-11-06          NaN
2011-11-13          NaN
2011-11-20       85.600
2011-11-27      116.075
                ...
2018-09-30    27743.750
2018-10-07    27834.250
2018-10-14    27921.500
2018-10-21    27996.000
2018-10-28    28054.500
Freq: W-SUN, Name: cum_power, Length: 366, dtype: float64

In [67]:
res_mean[119]

8095.999999999996

In [68]:
cum_power_delta = res_mean.diff()
cum_power_delta

date
2011-10-30       NaN
2011-11-06       NaN
2011-11-13       NaN
2011-11-20       NaN
2011-11-27    30.475
               ...
2018-09-30    95.250
2018-10-07    90.500
2018-10-14    87.250
2018-10-21    74.500
2018-10-28    58.500
Freq: W-SUN, Name: cum_power, Length: 366, dtype: float64

In [69]:
cum_power_delta[119]

21.5