In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
print(os.listdir("./imbd-sf/"))

['data.csv']

In [3]:
data = pd.read_csv('./imbd-sf/data.csv')

In [4]:
len(data)

1890

In [5]:
data['imdb_id'].nunique()

1890

# Предобработка датасета

In [6]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

In [7]:
#Для удобства добавляем колонку 'profit', так как используется во многих задачах
data['profit'] = data['revenue'] - data['budget']

In [8]:
data['release_date_d'] = pd.to_datetime(data.release_date)

In [9]:
data['release_month'] = data['release_date_d'].dt.month

In [10]:
data['title_len'] = data.original_title.str.len()

In [11]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit,release_month,title_len
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000,1.890000e+03,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905,1.007820e+08,6.935979,15.038095
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929,1.834078e+08,3.391302,8.550515
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000,-4.139124e+08,1.000000,1.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000,5.000000e+06,4.000000,9.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000,4.400020e+07,7.000000,13.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000,1.201703e+08,10.000000,18.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000,2.544506e+09,12.000000,83.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
 16  profit                1890 non-null   int64
 17  release_date_d        1890 non-null   datetime64[ns]
 18  release_month         1890 non-null   int64
 19  title_len             1890 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(9)
memory usage: 295.4+ KB

In [13]:
data.head(10)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_date_d,release_month,title_len
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810,2015-06-09,6,14
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354,2015-05-13,5,18
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201,2015-03-18,3,9
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225,2015-12-15,12,28
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360,2015-04-01,4,9
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015,397950503,2015-12-25,12,12
6,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,2598,5.8,2015,285603537,2015-06-23,6,18
7,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,4572,7.6,2015,487380321,2015-09-30,9,11
8,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,2893,6.5,2015,1082730962,2015-06-17,6,7
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609,2015-06-09,6,10

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [14]:
data[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_date_d,release_month,title_len
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,2010-12-02,12,17

In [15]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [16]:
data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_date_d,release_month,title_len
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003,-43076064,2003-02-21,2,17

In [17]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [18]:
data[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_date_d,release_month,title_len
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011,-15540000,2011-04-13,4,15

In [19]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [20]:
data.runtime.mean()

109.65343915343915

In [21]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [22]:
data.runtime.median()

106.5

In [23]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [24]:
data[data.profit == data.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_date_d,release_month,title_len
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847,2009-12-10,12,6

In [25]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [26]:
data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_date_d,release_month,title_len
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,2010-12-02,12,17

In [27]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [28]:
len(data[data.profit > 0])

1478

In [29]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [30]:
data_2008 = data[data.release_year == 2008]

In [31]:
data_2008[data_2008.profit == data_2008.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_date_d,release_month,title_len
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825,2008-07-16,7,15

In [32]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [33]:
data_12_14 = data[(2012 <= data.release_year) & (data.release_year <= 2014)]

In [34]:
data_12_14[data_12_14.profit == data_12_14.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_date_d,release_month,title_len
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090,2013-07-03,7,15

In [35]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [36]:
genres = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']

In [37]:
for genre in genres:
    print('Количество фильмов жанра', genre, ':', len(data[data.genres.map(lambda x: True if genre in x.split('|') else False)]))

Количество фильмов жанра Action : 583
Количество фильмов жанра Adventure : 416
Количество фильмов жанра Drama : 782
Количество фильмов жанра Comedy : 683
Количество фильмов жанра Thriller : 597

In [38]:
#Лучший вариант, на мой взгляд
Counter(data.genres.str.split('|').sum()).most_common()[:5]

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 597),
 ('Action', 583),
 ('Adventure', 416)]

In [39]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [40]:
Counter(data[data.profit > 0].genres.str.split('|').sum()).most_common()[:5]

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

In [41]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [42]:
Counter(data.director.str.split('|').sum()).most_common()[:5]

[('Steven Soderbergh', 13),
 ('Ridley Scott', 12),
 ('Clint Eastwood', 12),
 ('Robert Rodriguez', 11),
 ('Steven Spielberg', 10)]

In [43]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [44]:
Counter(data[data.profit > 0].director.str.split('|').sum()).most_common()[:5]

[('Ridley Scott', 12),
 ('Steven Spielberg', 10),
 ('Clint Eastwood', 10),
 ('Steven Soderbergh', 10),
 ('Shawn Levy', 9)]

In [45]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [46]:
pd.__version__

'1.0.3'

In [51]:
pd.set_option('display.max_rows', 100) # выведем больше строк
pd.set_option('display.max_columns', 100) # выведем больше колонок

In [57]:
#для следующего шага
data['directors_list'] = data['director'].str.split('|')

In [64]:
#Используя explode() в новой версии pandas
data.explode('directors_list').groupby(['directors_list'])['profit'].sum().sort_values(ascending=False).head()

directors_list
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

In [46]:
#Без учета множественности режиссеров
data.groupby(['director'])['profit'].sum().sort_values(ascending=False).head()

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

In [47]:
def split_index(data):
    """
    Функция принимает в качестве параметра объект pandas series
    со строковым индексом, содержащим разделители '|',
    и числовой колонкой.
    Возвращает объкет series с индексом, состоящем из
    всех элементов индекса параметра, полученых при
    помощи split('|'), и числовой колонкой, содержащей
    суммы чисел из соответствующих строк параметра.
    """
    data_new = pd.Series()
    for ind in data.index:
        index_list = ind.split('|')
        for index_item in index_list:
            if (index_item in data_new.index):
                data_new[index_item] += data[ind]
            else:
                data_new[index_item] = data[ind]
    return data_new

In [48]:
"""
Данные можно и не групировать, все зависит от того, насколько размер датасета уменьшается в результате группировки
В следующем вопросе с актерами думаю точно стоит.
"""

split_index(data.groupby(['director'])['profit'].sum()).sort_values(ascending=False).head()

Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
dtype: int64

In [49]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [50]:
split_index(data.groupby(['cast'])['profit'].sum()).sort_values(ascending=False).head()

Emma Watson          6666245597
Daniel Radcliffe     6514990281
Rupert Grint         6408638290
Ian McKellen         6087375777
Robert Downey Jr.    5316030161
dtype: int64

In [51]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [52]:
split_index(data[data.release_year == 2012].groupby(['cast'])['profit'].sum()).sort_values().head()

Kirsten Dunst    -68109207
Timothy Spall    -51893525
James Kidnie     -51893525
Heidi Hawkins    -51893525
Malin Ã…kerman   -43733509
dtype: int64

In [53]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [54]:
split_index(data[data.budget > data.budget.mean()].cast.value_counts()).sort_values(ascending=False).head()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Eddie Murphy      15
Tom Cruise        15
dtype: int64

In [55]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [56]:
Counter(data[data.cast.map(lambda x: True if 'Nicolas Cage' in x.split('|') else False)].genres.str.split('|').sum()).most_common()[:5]

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

In [57]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [58]:
Counter(data.production_companies.str.split('|').sum()).most_common()
#('Universal Pictures', 173)
#('Universal', 3),

[('Universal Pictures', 173),
 ('Warner Bros.', 168),
 ('Paramount Pictures', 122),
 ('Columbia Pictures', 117),
 ('Twentieth Century Fox Film Corporation', 109),
 ('Relativity Media', 99),
 ('New Line Cinema', 88),
 ('Walt Disney Pictures', 82),
 ('Village Roadshow Pictures', 63),
 ('DreamWorks SKG', 62),
 ('Touchstone Pictures', 58),
 ('Regency Enterprises', 49),
 ('Metro-Goldwyn-Mayer (MGM)', 48),
 ('Columbia Pictures Corporation', 47),
 ('Dune Entertainment', 44),
 ('Summit Entertainment', 41),
 ('Miramax Films', 39),
 ('Dimension Films', 37),
 ('Lionsgate', 35),
 ('Fox 2000 Pictures', 35),
 ('Legendary Pictures', 34),
 ('Spyglass Entertainment', 32),
 ('Screen Gems', 31),
 ('Revolution Studios', 30),
 ('Original Film', 29),
 ('New Regency Pictures', 28),
 ('The Weinstein Company', 28),
 ('Working Title Films', 27),
 ('DreamWorks Animation', 26),
 ('Imagine Entertainment', 25),
 ('Scott Free Productions', 24),
 ('Lakeshore Entertainment', 24),
 ('Scott Rudin Productions', 24),
 ('Fox Searchlight Pictures', 24),
 ('Epsilon Motion Pictures', 24),
 ('Amblin Entertainment', 23),
 ('Happy Madison Productions', 23),
 ('StudioCanal', 23),
 ('Canal+', 22),
 ('Focus Features', 21),
 ('Studio Babelsberg', 20),
 ('NPV Entertainment', 20),
 ('Apatow Productions', 19),
 ('Ingenious Film Partners', 19),
 ('Jerry Bruckheimer Films', 19),
 ('Lions Gate Films', 19),
 ('Davis Entertainment', 18),
 ('EuropaCorp', 17),
 ('TriStar Pictures', 17),
 ('Silver Pictures', 17),
 ('Millennium Films', 17),
 ('20th Century Fox', 17),
 ('UK Film Council', 17),
 ('Dune Entertainment III', 17),
 ('Vertigo Entertainment', 16),
 ('Walden Media', 16),
 ('BBC Films', 16),
 ('TSG Entertainment', 15),
 ('Participant Media', 15),
 ('Alcon Entertainment', 15),
 ('Castle Rock Entertainment', 15),
 ('Media Rights Capital', 14),
 ('Nickelodeon Movies', 14),
 ('Di Bonaventura Pictures', 14),
 ('Pixar Animation Studios', 13),
 ('Film4', 13),
 ('Escape Artists', 13),
 ('1492 Pictures', 13),
 ('Marvel Enterprises', 13),
 ('Saturn Films', 13),
 ('Warner Bros. Pictures', 13),
 ('Franchise Pictures', 13),
 ('Dentsu', 12),
 ('Marvel Studios', 12),
 ('MTV Films', 12),
 ('Platinum Dunes', 12),
 ('Malpaso Productions', 12),
 ('Heyday Films', 12),
 ('Imagenation Abu Dhabi FZ', 12),
 ('Dark Castle Entertainment', 12),
 ('Intermedia Films', 12),
 ('Morgan Creek Productions', 12),
 ('Anonymous Content', 11),
 ('Endgame Entertainment', 11),
 ('Moving Picture Company (MPC)', 11),
 ('Blumhouse Productions', 11),
 ('Ingenious Media', 11),
 ('TF1 Films Production', 11),
 ('Nu Image Films', 11),
 ('Tim Burton Productions', 11),
 ('Scion Films', 11),
 ('Studio Canal', 11),
 ('GK Films', 11),
 ('DNA Films', 10),
 ('Double Feature Films', 10),
 ('Plan B Entertainment', 10),
 ('Open Road Films', 10),
 ('Marc Platt Productions', 10),
 ('Twentieth Century Fox Animation', 10),
 ('CBS Films', 10),
 ('Sunswept Entertainment', 10),
 ('WingNut Films', 10),
 ('Walt Disney Animation Studios', 10),
 ('Davis-Films', 10),
 ('Overbrook Entertainment', 10),
 ('Constantin Film Produktion', 10),
 ('Paramount Vantage', 10),
 ('Mosaic Media Group', 10),
 ('Robert Simonds Productions', 10),
 ('Cruise/Wagner Productions', 10),
 ('Bad Robot', 9),
 ('Appian Way', 9),
 ('Skydance Productions', 9),
 ('Blue Sky Studios', 9),
 ('Sony Pictures Animation', 9),
 ('Ghost House Pictures', 9),
 ('21 Laps Entertainment', 9),
 ("Donners' Company", 9),
 ('DC Comics', 9),
 ('Exclusive Media Group', 9),
 ('Impact Pictures', 9),
 ('Emmett/Furla Films', 9),
 ('Radar Pictures', 9),
 ('Mandate Pictures', 9),
 ('Rogue Pictures', 9),
 ('De Line Pictures', 9),
 ('Phoenix Pictures', 9),
 ('United Artists', 9),
 ('Color Force', 8),
 ('Temple Hill Entertainment', 8),
 ('Sony Pictures Entertainment (SPE)', 8),
 ('RatPac-Dune Entertainment', 8),
 ('Sidney Kimmel Entertainment', 8),
 ('Thunder Road Pictures', 8),
 ('BenderSpink', 8),
 ('Blinding Edge Pictures', 8),
 ('Syncopy', 8),
 ('Reliance Entertainment', 8),
 ('Section Eight', 8),
 ('Kennedy/Marshall Company, The', 8),
 ('Cheyenne Enterprises', 8),
 ('Stillking Films', 8),
 ('Atmosphere Entertainment MM', 7),
 ('Cross Creek Pictures', 7),
 ('Chernin Entertainment', 7),
 ('Roth Films', 7),
 ('ImageMovers', 7),
 ('Gary Sanchez Productions', 7),
 ('IM Global', 7),
 ('Troublemaker Studios', 7),
 ('FilmDistrict', 7),
 ('Annapurna Pictures', 7),
 ('Weed Road Pictures', 7),
 ('Mandalay Pictures', 7),
 ('Goldcrest Pictures', 7),
 ('Stuber Productions', 7),
 ('Walt Disney Feature Animation', 7),
 ('Canal Plus', 7),
 ('Virtual Studios', 7),
 ('Contrafilm', 7),
 ('DreamWorks Pictures', 7),
 ('Universal Studios', 6),
 ('Mandeville Films', 6),
 ('Red Wagon Entertainment', 6),
 ('Michael De Luca Productions', 6),
 ('Gold Circle Films', 6),
 ('Forward Pass', 6),
 ('Marvel Entertainment', 6),
 ('Spring Creek Productions', 6),
 ('LStar Capital', 6),
 ('PathÃ©', 6),
 ('QED International', 6),
 ('Province of British Columbia Production Services Tax Credit', 6),
 ('Jersey Films', 6),
 ('Offspring Entertainment', 6),
 ('Conundrum Entertainment', 6),
 ('Nick Wechsler Productions', 6),
 ('Lawrence Gordon Productions', 6),
 ('Centropolis Entertainment', 6),
 ('2929 Productions', 6),
 ('Twisted Pictures', 6),
 ('Atlas Entertainment', 6),
 ('The Zanuck Company', 6),
 ('Firm Films', 6),
 ('River Road Entertainment', 6),
 ('France 2 CinÃ©ma', 6),
 ('Pacific Data Images (PDI)', 6),
 ('Alphaville Films', 6),
 ('Zide-Perry Productions', 6),
 ('Current Entertainment', 6),
 ('Tribeca Productions', 6),
 ("Mel's Cite du Cinema", 6),
 ('Valhalla Motion Pictures', 6),
 ('Rising Star', 6),
 ('Big Screen Productions', 6),
 ('Beacon Pictures', 6),
 ('Major Studio Partners', 6),
 ('Mid Atlantic Films', 5),
 ('Illumination Entertainment', 5),
 ('Anarchos Productions', 5),
 ('Marv Films', 5),
 ('Bazelevs Production', 5),
 ('3 Arts Entertainment', 5),
 ('Mad Chance', 5),
 ('Sony Pictures', 5),
 ('Good Universe', 5),
 ('Wonderland Sound and Vision', 5),
 ('Infinitum Nihil', 5),
 ('Gran Via Productions', 5),
 ('Vinyl Films', 5),
 ('Smokehouse Pictures', 5),
 ('Bad Hat Harry Productions', 5),
 ('Hasbro', 5),
 ('Indian Paintbrush', 5),
 ('Lin Pictures', 5),
 ('Warner Bros. Animation', 5),
 ('1984 Private Defense Contractors', 5),
 ('FilmNation Entertainment', 5),
 ('Karz Entertainment', 5),
 ('Rainforest Films', 5),
 ('Strike Entertainment', 5),
 ('Broken Road Productions', 5),
 ('Green Hat Films', 5),
 ('Maverick Films', 5),
 ('Flower Films (II)', 5),
 ('Walt Disney', 5),
 ('Stage 6 Films', 5),
 ('Wintergreen Productions', 5),
 ('Wild West Picture Show Productions', 5),
 ('Fox Atomic', 5),
 ('The Montecito Picture Company', 5),
 ('Mike Zoss Productions', 5),
 ('WWE Studios', 5),
 ('Tapestry Films', 5),
 ('Edward R. Pressman Film', 5),
 ('One Race Productions', 5),
 ('Hyde Park Films', 5),
 ('Isle of Man Film', 5),
 ('DC Entertainment', 5),
 ('Mutual Film Company', 5),
 ('Paramount Animation', 5),
 ('Industry Entertainment', 5),
 ('American Zoetrope', 5),
 ('Lawrence Bender Productions', 5),
 ('Bel Air Entertainment', 5),
 ('Dino De Laurentiis Company', 5),
 ('Grive Productions', 5),
 ('Dark Horse Entertainment', 5),
 ('Intrepid Pictures', 5),
 ('Virgin Produced', 5),
 ('Initial Entertainment Group (IEG)', 5),
 ('Laura Ziskin Productions', 5),
 ('Laurence Mark Productions', 5),
 ('Silver Reel', 5),
 ('Lucasfilm', 4),
 ('Revolution Sun Studios', 4),
 ('M6 Films', 4),
 ('CinÃ©+', 4),
 ('Waverly Films', 4),
 ('Moonlighting Films', 4),
 ('Groundswell Productions', 4),
 ('Sony Pictures Entertainment', 4),
 ('Red Granite Pictures', 4),
 ('Alliance Films', 4),
 ('Closest to the Hole Productions', 4),
 ('Bold Films', 4),
 ('Shangri-La Entertainment', 4),
 ('Dune Films', 4),
 ('Wildwood Enterprises', 4),
 ('Treehouse Pictures', 4),
 ('Mace Neufeld Productions', 4),
 ('Nimar Studios', 4),
 ('Protozoa Pictures', 4),
 ('Don Carmody Productions', 4),
 ('Laika Entertainment', 4),
 ('Grindstone Entertainment Group', 4),
 ('Bluegrass Films', 4),
 ('Canadian Film or Video Production Tax Credit (CPTC)', 4),
 ('The Mark Gordon Company', 4),
 ('Focus Films', 4),
 ('Montecito Picture Company, The', 4),
 ('Gunn Films', 4),
 ('Misher Films', 4),
 ('Icon Productions', 4),
 ('Canal+ EspaÃ±a', 4),
 ('Josephson Entertainment', 4),
 ('PathÃ© Renn Productions', 4),
 ('LivePlanet', 4),
 ('Everyman Pictures', 4),
 ('Bona Fide Productions', 4),
 ('Jerry Weintraub Productions', 4),
 ('Cruel and Unusual Films', 4),
 ('Reliance BIG Entertainment', 4),
 ('Rat Entertainment', 4),
 ('Toho-Towa', 4),
 ('Wayans Bros. Entertainment', 4),
 ('Brad Grey Pictures', 4),
 ('Miramax', 4),
 ('Metropolitan Filmexport', 4),
 ('Newmarket Capital Group', 4),
 ('Tollin/Robbins Productions', 4),
 ('Playtone', 4),
 ('China Film Co-Production Corporation', 4),
 ('Grosvenor Park Media Ltd.', 4),
 ('Red Hour Films', 4),
 ('Kanzaman', 4),
 ('CinÃ©CinÃ©ma', 4),
 ('The Kennedy/Marshall Company', 4),
 ('Casey Silver Productions', 4),
 ('Neal Street Productions', 4),
 ('Ecosse Films', 4),
 ('GreeneStreet Films', 4),
 ('Paradox Entertainment', 4),
 ('Amen Ra Films', 4),
 ('Icon Entertainment International', 4),
 ('Konrad Pictures', 4),
 ('Quinta Communications', 4),
 ('Avery Pix', 4),
 ('Shady Acres Entertainment', 4),
 ('Parkes/MacDonald Productions', 4),
 ('Aardman Animations', 4),
 ('Brightlight Pictures', 4),
 ('Warner Independent Pictures (WIP)', 4),
 ('Section Eight Productions', 4),
 ('Craven-Maddalena Films', 4),
 ('Global Entertainment Productions GmbH & Company Medien KG', 4),
 ('Fuji Television Network', 3),
 ('NeoReel', 3),
 ('Walt Disney Studios Motion Pictures', 3),
 ('Genre Films', 3),
 ('TC Productions', 3),
 ('Gotham Group', 3),
 ('A24', 3),
 ('Buena Vista', 3),
 ('Irish Film Board', 3),
 ('Cube Vision', 3),
 ('Goldmann Pictures', 3),
 ('Wigram Productions', 3),
 ('DMG Entertainment', 3),
 ('Ram Bergman Productions', 3),
 ('Point Grey Pictures', 3),
 ('Worldview Entertainment', 3),
 ('Automatik Entertainment', 3),
 ('Sony Pictures Releasing', 3),
 ('Insurge Pictures', 3),
 ('Disruption Entertainment', 3),
 ('Instituto de la CinematografÃ\xada y de las Artes Audiovisuales (ICAA)', 3),
 ('Clinica Estetico', 3),
 ('RatPac Entertainment', 3),
 ('Crave Films', 3),
 ('Aldamisa Entertainment', 3),
 ('Big Kid Pictures', 3),
 ('Ghoulardi Film Company', 3),
 ('Screen Australia', 3),
 ('Harpo Films', 3),
 ('Celador Films', 3),
 ('Cloud Eight Films', 3),
 ('DisneyToon Studios', 3),
 ('The Safran Company', 3),
 ('HanWay Films', 3),
 ('Olive Bridge Entertainment', 3),
 ('Affirm Films', 3),
 ('A Band Apart', 3),
 ('Internationale Filmproduktion Blackbird Dritte', 3),
 ('Starz Animation', 3),
 ('Imprint Entertainment', 3),
 ('Radical Media', 3),
 ('Buckaroo Entertainment', 3),
 ('Chockstone Pictures', 3),
 ('Fortis Films', 3),
 ('Telecinco Cinema', 3),
 ('Spectacle Entertainment Group', 3),
 ('This Is That Productions', 3),
 ('DreamWorks', 3),
 ('Cold Spring Pictures', 3),
 ('Team Todd', 3),
 ('Zanuck Company, The', 3),
 ('Peninsula Films', 3),
 ('Junction Entertainment', 3),
 ('Bedford Falls Productions', 3),
 ('Tree Line Films', 3),
 ('Linson Entertainment', 3),
 ('Katalyst Films', 3),
 ('Three Strange Angels', 3),
 ('PathÃ© Pictures International', 3),
 ('Prescience', 3),
 ('Mayhem Pictures', 3),
 ('Gracie Films', 3),
 ('Bazmark Films', 3),
 ('Gold/Miller Productions', 3),
 ('View Askew Productions', 3),
 ('Beacon Communications', 3),
 ('Cinerenta Medienbeteiligungs KG', 3),
 ('IMF Internationale Medien und Film GmbH & Co. 3. Produktions KG', 3),
 ('Hyde Park Entertainment', 3),
 ('Eon Productions', 3),
 ('Gerber Pictures', 3),
 ('Hypnotic', 3),
 ('Voltage Pictures', 3),
 ('K/O Paper Products', 3),
 ('Wild Bunch', 3),
 ('Depth of Field', 3),
 ('Bedford Falls Company, The', 3),
 ('Ascendant Pictures', 3),
 ('VIP Medienfonds 4', 3),
 ('International Production Company', 3),
 ('Odd Lot Entertainment', 3),
 ('Art Linson Productions', 3),
 ('Film Rites', 3),
 ('Fox Searchlight', 3),
 ('Mark Canton Productions', 3),
 ('FilmEngine', 3),
 ('Room 101', 3),
 ('Solana Films', 3),
 ('Prospero Pictures', 3),
 ('DiNovi Pictures', 3),
 ('Kalima Productions GmbH & Co. KG', 3),
 ('Splendid Pictures', 3),
 ('Parkes+MacDonald Image Nation', 3),
 ('Artisan Entertainment', 3),
 ('Mikona Productions GmbH & Co. KG', 3),
 ('David Foster Productions', 3),
 ('Colombia Pictures', 3),
 ('Propaganda Films', 3),
 ('Evolution Entertainment', 3),
 ('World 2000 Entertainment', 3),
 ('Marty Katz Productions', 3),
 ('Signature Pictures', 3),
 ('Good Machine', 3),
 ('Baltimore Spring Creek Productions', 3),
 ('Hemisphere Media Capital', 3),
 ('Yucaipa Films', 3),
 ('Cheetah Vision', 3),
 ('Jinks/Cohen Company', 3),
 ('Next Entertainment', 3),
 ('Mirage Enterprises', 3),
 ('Lonely Film Productions GmbH & Co. KG.', 3),
 ('Tig Productions', 3),
 ('Dylan Sellers Productions', 3),
 ('Universal', 3),
 ('Weinstein Company, The', 3),
 ('Yari Film Group', 3),
 ('WV Films III', 3),
 ('Baldwin Entertainment Group', 3),
 ('Bob Yari Productions', 3),
 ('Radiant Productions', 3),
 ('Zephyr Films', 3),
 ('Kennedy Miller Productions', 2),
 ('One Race Films', 2),
 ('International Traders', 2),
 ('Prime Focus', 2),
 ('FilmColony', 2),
 ('Babieka', 2),
 ('Flynn Picture Company', 2),
 ('Trigger Street Productions', 2),
 ('Fuzzy Door Productions', 2),
 ('Alpha Core', 2),
 ('Brownstone Productions', 2),
 ('Element Pictures', 2),
 ('No Trace Camping', 2),
 ('Energy Entertainment', 2),
 ('Wildgaze Films', 2),
 ('Killer Films', 2),
 ('Free State Pictures', 2),
 ('Huayi Brothers Media', 2),
 ('Feigco Entertainment', 2),
 ('Fox International Productions', 2),
 ('Chartoff-Winkler Productions', 2),
 ('Entertainment One', 2),
 ('Anton Capital Entertainment (ACE)', 2),
 ('David Dobkin Productions', 2),
 ('Blue-Tongue Films', 2),
 ('Onyx Films', 2),
 ('Sony Pictures Home Entertainment', 2),
 ('Living Films', 2),
 ('Origin Pictures', 2),
 ('Iron Horse Entertainment (II)', 2),
 ('Route One Films', 2),
 ('Pacific Standard', 2),
 ('Columbia TriStar', 2),
 ('Ruby Films', 2),
 ('Lynda Obst Productions', 2),
 ('87Eleven', 2),
 ('Mad Hatter Entertainment', 2),
 ('LionsGate', 2),
 ('Outlaw Sinema', 2),
 ('WideAwake', 2),
 ('Hollywood Gang Productions', 2),
 ('Echo Films', 2),
 ('Why Not Productions', 2),
 ('Before the Door Pictures', 2),
 ('Washington Square Films', 2),
 ('Radical Studios', 2),
 ('AR Films', 2),
 ('Demarest Films', 2),
 ('Crescendo Productions', 2),
 ('Bandito Brothers', 2),
 ('Electric City Entertainment', 2),
 ('Prana Studios', 2),
 ('Prana Animation Studios', 2),
 ('Albert S. Ruddy Productions', 2),
 ('Likely Story', 2),
 ('Fake Empire', 2),
 ('Scope Pictures', 2),
 ('Evergreen Media Group', 2),
 ('Hopscotch Features', 2),
 ('Screen Gems, Inc.', 2),
 ('Scottish Screen', 2),
 ('Boxing Cat Films', 2),
 ('Pure Flix Entertainment', 2),
 ('Winkler Films', 2),
 ('Lightstorm Entertainment', 2),
 ('Sketch Films', 2),
 ('Key Creatives', 2),
 ('Arc Productions', 2),
 ('Skylark Productions', 2),
 ('Kurtzman/Orci', 2),
 ('American Empirical Pictures', 2),
 ('Inferno Distribution', 2),
 ('Kaplan/Perrone Entertainment', 2),
 ('Virtual Films', 2),
 ('Palomar Pictures (II)', 2),
 ('Practical Pictures', 2),
 ('Parallel Zide', 2),
 ('Bagdasarian Productions', 2),
 ('Andell Entertainment', 2),
 ('Pictures in Paradise', 2),
 ('Pacific Film and Television Commission', 2),
 ('Australian Film Finance Corporation (AFFC)', 2),
 ('Rogue', 2),
 ('Stars Road Entertainment', 2),
 ('Imagi Animation Studios', 2),
 ('X-Filme Creative Pool', 2),
 ('Paul Schiff Productions', 2),
 ('26 Films', 2),
 ('Seed Productions', 2),
 ('CinemaNX', 2),
 ('Sikelia Productions', 2),
 ('Lions Gate', 2),
 ('Overnight Films', 2),
 ('Aegis Film Fund', 2),
 ('Madhouse Entertainment', 2),
 ('Road Rebel', 2),
 ('Home Box Office (HBO)', 2),
 ('HBO Films', 2),
 ('Hammer Film Productions', 2),
 ('Overture Films', 2),
 ('Animal Logic', 2),
 ('Intellectual Properties Worldwide', 2),
 ('Penn Station Entertainment', 2),
 ('Maguire Entertainment', 2),
 ('Omnilab Media', 2),
 ('Ambience Entertainment', 2),
 ('Serendipity Point Films', 2),
 ('platinum studios', 2),
 ('The Saul Zaentz Company', 2),
 ('Little Bird', 2),
 ('British Broadcasting Corporation (BBC)', 2),
 ('WV Films II', 2),
 ('Lucky Red', 2),
 ('Red Wagon Productions', 2),
 ('Chris Lee Productions', 2),
 ('David Brown Productions', 2),
 ('USA Films', 2),
 ('Sean S. Cunningham Films', 2),
 ('Crystal Lake Entertainment', 2),
 ('Kopelson Entertainment', 2),
 ('David Kirschner Productions', 2),
 ('Darkwoods Productions', 2),
 ('Ardustry Entertainment', 2),
 ('ApolloMedia Distribution', 2),
 ('TPS Star', 2),
 ('Sommers Company, The', 2),
 ('KMP Film Invest', 2),
 ('Rogue Marble', 2),
 ('Hammerhead Productions', 2),
 ('MHF Zweite Academy Film', 2),
 ('Marvel Knights', 2),
 ('Castel Film Romania', 2),
 ('Blueprint Pictures', 2),
 ('Twins Financing', 2),
 ('Type A Films', 2),
 ('Castelao Producciones', 2),
 ('Grosvenor Park Productions', 2),
 ('Blue Star Pictures', 2),
 ('Media Magik Entertainment', 2),
 ('2 Entertain', 2),
 ('Guy Walks into a Bar Productions', 2),
 ('Deep River Productions', 2),
 ('Odyssey Entertainment', 2),
 ('Management 360', 2),
 ('Emperor Motion Pictures', 2),
 ('Nu Image Entertainment GmbH', 2),
 ('Vendome Pictures', 2),
 ('France 3 CinÃ©ma', 2),
 ('Studio 37', 2),
 ('Jouror Productions', 2),
 ('Nouvelles Ã‰ditions de Films (NEF)', 2),
 ('New Legacy', 2),
 ('Playtone Productions', 2),
 ('Big Talk Productions', 2),
 ('The Jacobson Company', 2),
 ('Participant Productions', 2),
 ('LD Entertainment', 2),
 ('Kerner Entertainment Company', 2),
 ('Indochina Productions', 2),
 ('Fierce Entertainment', 2),
 ('Runteldat Entertainment', 2),
 ('China Film Group Corporation (CFGC)', 2),
 ('DJ Films', 2),
 ('Bac Films', 2),
 ('Blue Tulip Productions', 2),
 ('Imaginary Forces', 2),
 ('Out of the Blue... Entertainment', 2),
 ('Lion Rock Productions', 2),
 ('Material', 2),
 ('Walt Disney Television Animation', 2),
 ('Walt Disney Animation Australia', 2),
 ('Storyline Entertainment', 2),
 ('Monarch Pictures', 2),
 ('David Ladd Films', 2),
 ('Allied Filmmakers', 2),
 ('Sony Pictures Classics', 2),
 ('Leverage Management', 2),
 ('Film i VÃ¤st', 2),
 ('Tim Burton Animation Company', 2),
 ('British Film Institute (BFI)', 2),
 ('Wessler Entertainment', 2),
 ('Pariah Entertainment Group', 2),
 ('Vanguard Films', 2),
 ('TÃ©lÃ©film Canada', 2),
 ('Super Cool ManChu', 2),
 ('C-2 Pictures', 2),
 ('Angry Films', 2),
 ('Mediastream Dritte Film GmbH & Co. Beteiligungs KG', 2),
 ('Samuel Goldwyn Films', 2),
 ('Birnbaum / Barber Productions', 2),
 ('Cobalt Media Group', 2),
 ('Artists Production Group (APG)', 2),
 ('Tall Trees Productions', 2),
 ('Boll Kino Beteiligungs GmbH & Co. KG', 2),
 ('Herold Productions', 2),
 ('Madacy Entertainment', 2),
 ('Envision Entertainment Corporation', 2),
 ('Revolution Films', 2),
 ('H2F Entertainment', 2),
 ('Muse Productions', 2),
 ('Two Ton Films', 2),
 ('After Dark Films', 2),
 ('40 Acres & A Mule Filmworks', 2),
 ('Pathe', 2),
 ('Kumar Mobiliengesellschaft mbH & Co. Projekt Nr. 1 KG', 2),
 ('MFPV Film', 2),
 ('Alberta Film Entertainment', 2),
 ('VIP 3 Medienfonds', 2),
 ('MacDonald/Parkes Productions', 2),
 ('John Wells Productions', 2),
 ('Babelsberg Film', 2),
 ('Mars Media Beteiligungs', 2),
 ('The Ladd Company', 2),
 ('FilmWorks', 2),
 ('Biscayne Pictures', 2),
 ('Kumar Mobiliengesellschaft mbH & Co. Projekt Nr. 2 KG', 2),
 ('Senator International', 2),
 ('Second Mate Productions', 2),
 ('Capitol Films', 2),
 ('Hard Eight Pictures', 2),
 ('Playtone Production', 2),
 ('Michael London Productions', 2),
 ("Bull's Eye Entertainment", 2),
 ('Nu Image Entertainment', 2),
 ('Kernos Filmproduktionsgesellschaft & Company', 2),
 ('Eyetronics', 2),
 ('Storefront Pictures', 2),
 ('BIM Distribuzione', 2),
 ('Jon Shestack Productions', 2),
 ('Hollywood Pictures', 2),
 ('Ludlum Entertainment', 2),
 ('Mediastream Vierte Film GmbH & Co. Vermarktungs KG', 2),
 ('Blackfriars Bridge Films', 2),

In [59]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [60]:
Counter(data[data.release_year == 2015].production_companies.str.split('|').sum()).most_common()

[('Warner Bros.', 12),
 ('Universal Pictures', 10),
 ('Twentieth Century Fox Film Corporation', 8),
 ('Paramount Pictures', 7),
 ('Columbia Pictures', 7),
 ('TSG Entertainment', 6),
 ('Legendary Pictures', 5),
 ('New Line Cinema', 5),
 ('RatPac-Dune Entertainment', 5),
 ('Blumhouse Productions', 5),
 ('Village Roadshow Pictures', 4),
 ('Regency Enterprises', 4),
 ('Walt Disney Pictures', 4),
 ('Studio Babelsberg', 4),
 ('Working Title Films', 4),
 ('Metro-Goldwyn-Mayer (MGM)', 4),
 ('Dentsu', 3),
 ('Summit Entertainment', 3),
 ('Media Rights Capital', 3),
 ('Scott Free Productions', 3),
 ('Film4', 3),
 ('Lionsgate', 3),
 ('Sony Pictures Entertainment (SPE)', 3),
 ('Fox 2000 Pictures', 3),
 ('Cross Creek Pictures', 3),
 ('Moving Picture Company (MPC)', 3),
 ('LStar Capital', 3),
 ('Amblin Entertainment', 2),
 ('Fuji Television Network', 2),
 ('NeoReel', 2),
 ('Bad Robot', 2),
 ('Original Film', 2),
 ('One Race Films', 2),
 ('Anonymous Content', 2),
 ('New Regency Pictures', 2),
 ('Skydance Productions', 2),
 ('Pixar Animation Studios', 2),
 ('Walt Disney Studios Motion Pictures', 2),
 ('Happy Madison Productions', 2),
 ('Marvel Studios', 2),
 ('Double Feature Films', 2),
 ('Canal+', 2),
 ('EuropaCorp', 2),
 ('Genre Films', 2),
 ('StudioCanal', 2),
 ('Escape Artists', 2),
 ('Marv Films', 2),
 ('Participant Media', 2),
 ('Temple Hill Entertainment', 2),
 ('A24', 2),
 ('Vertigo Entertainment', 2),
 ('Davis Entertainment', 2),
 ('Free State Pictures', 2),
 ('Feigco Entertainment', 2),
 ('Imagine Entertainment', 2),
 ('Entertainment One', 2),
 ('Sony Pictures', 2),
 ('Good Universe', 2),
 ('Groundswell Productions', 2),
 ('CBS Films', 2),
 ('Gary Sanchez Productions', 2),
 ('IM Global', 2),
 ('Screen Gems', 2),
 ('BBC Films', 2),
 ('Route One Films', 2),
 ('Universal Studios', 1),
 ('Kennedy Miller Productions', 1),
 ('Mandeville Films', 1),
 ('Red Wagon Entertainment', 1),
 ('Lucasfilm', 1),
 ('Truenorth Productions', 1),
 ('Appian Way', 1),
 ('CatchPlay', 1),
 ('Mid Atlantic Films', 1),
 ('International Traders', 1),
 ('Illumination Entertainment', 1),
 ('Danjaq', 1),
 ('B24', 1),
 ('Dune Entertainment', 1),
 ('Anarchos Productions', 1),
 ('DNA Films', 1),
 ('Universal Pictures International (UPI)', 1),
 ('Prime Focus', 1),
 ('Revolution Sun Studios', 1),
 ('The Weinstein Company', 1),
 ('FilmColony', 1),
 ('M6 Films', 1),
 ('CinÃ©+', 1),
 ('Beagle Pug Films', 1),
 ('Allison Shearmur Productions', 1),
 ('Color Force', 1),
 ('Babieka', 1),
 ('A113', 1),
 ('Riche-Ludwig Productions', 1),
 ('Flynn Picture Company', 1),
 ('Focus Features', 1),
 ('Trigger Street Productions', 1),
 ('Michael De Luca Productions', 1),
 ('Plan B Entertainment', 1),
 ('China Movie Channel', 1),
 ('TC Productions', 1),
 ('Fuzzy Door Productions', 1),
 ('Cloudy Productions', 1),
 ('Open Road Films', 1),
 ('Rocklin / Faust', 1),
 ('Entertainment One Features', 1),
 ('Gotham Group', 1),
 ('Alpha Core', 1),
 ('Gold Circle Films', 1),
 ('Brownstone Productions', 1),
 ('DreamWorks SKG', 1),
 ('Marc Platt Productions', 1),
 ('Scholastic Entertainment', 1),
 ('Element Pictures', 1),
 ('No Trace Camping', 1),
 ('Duperele Films', 1),
 ('Buena Vista', 1),
 ('Energy Entertainment', 1),
 ('Wildgaze Films', 1),
 ('Irish Film Board', 1),
 ('Item 7', 1),
 ('Parallel Film Productions', 1),
 ('Cube Vision', 1),
 ('Broken Chair Flickz', 1),
 ('Atmosphere Entertainment MM', 1),
 ('Goldmann Pictures', 1),
 ('Wigram Productions', 1),
 ('Lakeshore Entertainment', 1),
 ('Sidney Kimmel Entertainment', 1),
 ('Sierra/Affinity', 1),
 ('Bazelevs Production', 1),
 ('Versus Pictures', 1),
 ('DreamWorks Animation', 1),
 ('Killer Films', 1),
 ('Number 9 Films', 1),
 ('Waverly Films', 1),
 ('Walden Media', 1),
 ('Alcon Entertainment', 1),
 ('DMG Entertainment', 1),
 ('Ehman Productions', 1),
 ('PeaPie Films', 1),
 ('3 Arts Entertainment', 1),
 ('Endgame Entertainment', 1),
 ('Ram Bergman Productions', 1),
 ('Mad Chance', 1),
 ('OddLot Entertainment', 1),
 ('Huayi Brothers Media', 1),
 ('Pretty Pictures', 1),
 ('ArtÃ©mis Productions', 1),
 ('Le Tax Shelter du Gouvernement FÃ©dÃ©ral de Belgique', 1),
 ('Taxshelter. be', 1),
 ('Forward Pass', 1),
 ('Thunder Road Pictures', 1),
 ('Black Label Media', 1),
 ('Marvel Entertainment', 1),
 ('Constantin Film.', 1),
 ('Chernin Entertainment', 1),
 ('Kramer & Sigman Films', 1),
 ('Zaftig Films', 1),
 ('Fox International Productions', 1),
 ('Infinite Frameworks Studios', 1),
 ('Spring Creek Productions', 1),
 ('Roth Films', 1),
 ('K. JAM Media', 1),
 ('Chartoff-Winkler Productions', 1),
 ('Apatow Productions', 1),
 ('Moonlighting Films', 1),
 ('Raindog Films', 1),
 ('Anton Capital Entertainment (ACE)', 1),
 ('Berlanti Productions', 1),
 ('Blue Sky Studios', 1),
 ('Twentieth Century Fox Animation', 1),
 ('The Cantillon Company', 1),
 ('The Shuman Company', 1),
 ('Point Grey Pictures', 1),
 ('Sony Pictures Animation', 1),
 ('TriStar Pictures', 1),
 ('Sony Pictures Entertainment', 1),
 ('ImageMovers', 1),
 ('BenderSpink', 1),
 ('David Dobkin Productions', 1),
 ('Ghost House Pictures', 1),
 ('Worldview Entertainment', 1),
 ('Blue-Tongue Films', 1),
 ('STX Entertainment', 1),
 ('Ahimsa Films', 1),
 ('Red Granite Pictures', 1),
 ('Onyx Films', 1),
 ('Orange Studios', 1),
 ('CityMation', 1),
 ('On Entertainment', 1),
 ('Zippcast Films', 1),
 ('Amazon Studios', 1),
 ('Film Art Media', 1),
 ('Apollo Media', 1),
 ('Wonderland Sound and Vision', 1),
 ('Vast Entertainment', 1),
 ('Alliance Films', 1),
 ('Automatik Entertainment', 1),
 ('Sony Pictures Releasing', 1),
 ('Sony Pictures Home Entertainment', 1),
 ('Closest to the Hole Productions', 1),
 ('Miramax Films', 1),
 ('Blinding Edge Pictures', 1),
 ('Infinitum Nihil', 1),
 ('Head Gear Films', 1),
 ('Bold Films', 1),
 ('Living Films', 1),
 ('Brothers Dowdle Productions', 1),
 ('Origin Pictures', 1),
 ('Little Stranger', 1),
 ('MTV Films', 1),
 ('Platinum Dunes', 1),
 ('Insurge Pictures', 1),
 ('Iron Horse Entertainment (II)', 1),
 ('Inimitable Pictures', 1),
 ('ShivHans Pictures', 1),
 ('Ingenious Media', 1),
 ('Gran Via Productions', 1),
 ('Nickelodeon Movies', 1),
 ('Nickelodeon Animation Studios', 1),
 ('United Plankton Pictures', 1),
 ('Disruption Entertainment', 1),
 ('Sunswept Entertainment', 1),
 ('Silver Pictures', 1),
 ('TF1 Films Production', 1),
 ('Instituto de la CinematografÃ\xada y de las Artes Audiovisuales (ICAA)', 1),
 ('Pacific Standard', 1),
 ('TriStar Productions', 1),
 ('Columbia TriStar', 1),
 ('Clinica Estetico', 1),
 ('Scott Rudin Productions', 1),
 ('Ruby Films', 1),
 ('PathÃ©', 1),
 ('Metanoia Films', 1),
 ('Vinyl Films', 1),
 ('RatPac Entertainment', 1),
 ('Smokehouse Pictures', 1),
 ('Shangri-La Entertainment', 1),
 ('QED International', 1),
 ('Dune Films', 1),
 ('Venture Forth', 1),
 ('Wildwood Enterprises', 1),
 ('Treehouse Pictures', 1),
 ('Hasbro Studios', 1),
 ('Allspark Pictures', 1)]

In [61]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [62]:
split_index(data[data.genres.map(lambda x: True if 'Comedy' in x.split('|') else False)].groupby(['production_companies'])['profit'].sum()).sort_values(ascending=False).head()

Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
dtype: int64

In [63]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [64]:
split_index(data[data.release_year == 2012].groupby(['production_companies'])['profit'].sum()).sort_values(ascending=False).head()

Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
dtype: int64

In [65]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [66]:
data_paramount = data[data.production_companies.map(lambda x: True if 'Paramount Pictures' in x.split('|') else False)]
data_paramount[data_paramount.profit == data_paramount.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_date_d,release_month,title_len
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034,2002-07-19,7,20

In [67]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [68]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [69]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [70]:
dt = data[data.production_companies.str.contains('Warner')].production_companies.str.split('|')
   
def split_test(data):
    '''
    Формирует на выходе series с индексом из компаний, содержащих в названии "Warner"
    с целью посмотреть, какие компании имеют отношение к "Warner"
    '''
    data_new = pd.Series()
    for ind in data.index:
        for item in data[ind]:
            if 'Warner' in item:
                if item in data_new.index:
                    data_new[item] += 1
                else:
                    data_new[item] = 1
    return data_new

split_test(dt)

Warner Bros.                              168
Warner Bros. Animation                      5
Warner Bros. Interactive Entertainment      1
Warner Bros. Pictures                      13
Warner Independent Pictures (WIP)           4
dtype: int64

In [71]:
data[data.production_companies.str.contains('Warner')].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2208217007
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1595278228
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     617151739
2000     452631386
Name: profit, dtype: int64

In [72]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [73]:
data.release_date_d.dt.month.value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date_d, dtype: int64

In [74]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [75]:
data.release_date_d.dt.month.value_counts()[[6, 7, 8]].sum()

450

In [76]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [77]:
Counter(data[data.release_date_d.dt.month.isin([1, 2, 12])].director.str.split('|').sum()).most_common()[:5]

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4)]

In [78]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [79]:
pivot = data.pivot_table(values=['profit'], index=['release_year'], columns=['release_month'], aggfunc='sum')
pivot

                  profit                                                 \
release_month         1          2           3           4           5
release_year
2000           -26344591  310137593   490709929   124362846  1382722190
2001           127876758  178360689   396218262   659725033   767934975
2002            13657034  557847442   832386092   343737203  1421928692
2003           145423503  422979087   160261385   479653942  2000292657
2004           223449403  727540831   307233119   275005057  2412578839
2005           419099490  506931359   440128754   178673498  1575566228
2006           138996816  317624889   799504296   361121653   985092012
2007            91188025  500661304   714586308   143245753  2042169546
2008           440344541  987454669   251671904   720571689  1744305931
2009           996529660  326413800  1276096794   651749767  1435747314
2010           233051923  671341193  1471122239   841530415  1105092975
2011           591644835  642751509  1443419914  1507477958  1917491757
2012           381045653  573073426  1459834347  1767272417  1140614925
2013           449051535  509981099   970223425  1423545114  1724496337
2014           541637085  736685970  1768873778   795767674  2279978281
2015           630233784  884789565   937945994  2602565518  1103503482

                                                                           \
release_month          6           7           8           9           10
release_year
2000            517315528   563809888   264018332   175306761   399938512
2001            780612105   873718941   726979609    21874909   146204533
2002            747704475   629306797   579318434   417267245   420527680
2003            406445507  1356384641   444992536   503313816   837090991
2004           1294266591   834850950   332763539   475369751   593314410
2005           1193230558   870215460   266644459   995622427   154493344
2006           2098059770   242337901   429249082   451456811   826087838
2007           2764341802   747619985   881421482   435838557   516228592
2008           1943384763  1791301749   325382603   339476350  1145762453
2009           1520284741  1202339588   803565587   393041320   836577088
2010           2449561498  1567485183   971023396  1091274243  1080204976
2011           1524706926  2331661017   667283164   733166385   968743489
2012           2965481705   940512033   702588445  1308166465  1320250459
2013           2411922008  1192996016   590070005  1165693297  1042812263
2014           1176264662  1611081683  1163610627   596366679  1764509467
2015           3757679861  1552273188   491699146  1775686025   942161764


release_month          11          12
release_year
2000            487934818  1411487999
2001           1567240927  1703868124
2002           1190606216  1848074177
2003            609390731  1862594516
2004           1050846495  1106961735
2005           1027204825  1354115156
2006           1106305898   935240354
2007            896805244  1831805203
2008            847289768  1126935570
2009            558158975  3423239738
2010            736020890   899583599
2011            859313689  1542580698
2012           2412991475  1105170337
2013           2047380217  1715008475
2014           2043956761  1919080286
2015           1212708544  2777325507

In [80]:
data_new = pd.Series()
for ind in pivot.index:
    ser = pivot.loc[ind]['profit']
    data_new[str(ind)] = ser[ser == ser.max()].index.tolist()[0]
    
data_new.value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [81]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [82]:
data_new = pd.Series()
def convert_f1(row):
    '''
    Функция записывает в серию data_new названия компаний в качестве индекса и
    tuple вида (средняя длина, длина, количество)
    '''
    for ind in row['production_companies'].split('|'):
        if (ind in data_new.index):
            mid, len, count = data_new[ind]
            len += row['title_len']
            count += 1
            mid = len / count
            data_new[ind] = (mid, len, count)
        else:
            data_new[ind] = (row['title_len'], row['title_len'], 1)  

data.apply(convert_f1, axis=1)
data_new.head()

Universal Studios            (14.833333333333334, 89, 6)
Amblin Entertainment       (17.869565217391305, 411, 23)
Legendary Pictures         (13.411764705882353, 456, 34)
Fuji Television Network      (12.666666666666666, 38, 3)
Dentsu                                   (13.5, 162, 12)
dtype: object

In [83]:
#Затем выбираем среднюю длину и сортируем
data_new.apply(lambda x: x[0]).sort_values(ascending=False)[:5]

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0
dtype: float64

In [84]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [85]:
#Здесь также, как в предыдущем вопросе
data_new = pd.Series()

def convert_f2(row):
    for ind in row['production_companies'].split('|'):
        if (ind in data_new.index):
            mid, length, count = data_new[ind]
            length += len(row['original_title'].split())
            count += 1
            mid = length / count
            data_new[ind] = (mid, length, count)
        else:
            data_new[ind] = (len(row['original_title'].split()), len(row['original_title'].split()), 1)  

data.apply(convert_f2, axis=1)

data_new.apply(lambda x: x[0]).sort_values(ascending=False)[:5]

Four By Two Productions    12.0
Jim Henson Company, The    10.0
The Saul Zaentz Company     9.0
Polsky Films                9.0
Dos Corazones               9.0
dtype: float64

In [86]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [87]:
data_title = data.original_title.str.lower().str.split()
data_new = pd.Series()

def add_to_series(name):
    data_new[name] = 1

#Что-то я не смог все сделать одной строкой....

data_title.apply(lambda x: list(map(add_to_series, x)))

len(data_new)

2461

In [88]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [89]:
data.sort_values('vote_average', ascending=False)[['original_title', 'vote_average']].head(19)

                                         original_title  vote_average
600                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
1082      The Lord of the Rings: The Return of the King           7.9
873                                         The Pianist           7.9
1801                                            Memento           7.9
1192                                   12 Years a Slave           7.9
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
119                             Guardians of the Galaxy           7.9
1184                            The Wolf of Wall Street           7.9
370                                           Inception           7.9
316                                            3 Idiots           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
497   The Lord of the Rings: The Fellowship of the Ring           7.8
28                                            Spotlight           7.8
1214                                 Dallas Buyers Club           7.8

In [90]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [91]:
import itertools as it

In [92]:
#data.cast.str.split('|')
#data.cast.str.split('|').apply(lambda x: x)
#data.cast.str.split('|').apply(lambda x: list(it.combinations(x, 2)))
#data.cast.str.split('|').apply(lambda x: list(it.combinations(x, 2))).sum()
Counter(data.cast.str.split('|').apply(lambda x: list(it.combinations(x, 2))).sum()).most_common()[:5]

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [93]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

### В этом вопросе была дилема, что имеется ввиду, УСЛОВНАЯ ли вероятность...
К примеру, если Режиссер 1 снял 100 фильмов и из них 50 прибыльных, то у него вероятность снять прибыльный фильм выше, чем у Режиссера 2, который снял 1 прибыльный фильм (один из одного).
Спрашивал в Канале, ответа не получил и почитав посты, сделал по простому.

In [94]:
directors = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

In [95]:
profitable_data = data[data.profit > 0]

In [96]:
for director in directors:
    print('Фильмов режиссера', director, ':', len(data[data.director.map(lambda x: True if director in x.split('|') else False)]))
    print('Прибыльных фильмов режиссера', director, ':', len(profitable_data[profitable_data.director.map(lambda x: True if director in x.split('|') else False)]))

Фильмов режиссера Quentin Tarantino : 7
Прибыльных фильмов режиссера Quentin Tarantino : 6
Фильмов режиссера Steven Soderbergh : 13
Прибыльных фильмов режиссера Steven Soderbergh : 10
Фильмов режиссера Robert Rodriguez : 11
Прибыльных фильмов режиссера Robert Rodriguez : 8
Фильмов режиссера Christopher Nolan : 8
Прибыльных фильмов режиссера Christopher Nolan : 8
Фильмов режиссера Clint Eastwood : 12
Прибыльных фильмов режиссера Clint Eastwood : 10

In [97]:
for director in directors:
    print('Рейтинг режиссера', director, ':', len(profitable_data[profitable_data.director.map(lambda x: True if director in x.split('|') else False)]) / len(data[data.director.map(lambda x: True if director in x.split('|') else False)]))

Рейтинг режиссера Quentin Tarantino : 0.8571428571428571
Рейтинг режиссера Steven Soderbergh : 0.7692307692307693
Рейтинг режиссера Robert Rodriguez : 0.7272727272727273
Рейтинг режиссера Christopher Nolan : 1.0
Рейтинг режиссера Clint Eastwood : 0.8333333333333334

In [98]:
answer_ls.append(4)

# Submission

In [99]:
len(answer_ls)

36

In [100]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4